In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'/Users/chewy2.0/Capstone'

In [4]:
os.chdir('/Users/chewy2.0/Capstone/data/merge stuff')

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
data = pd.read_csv("patents_researchuniclass_edattainment.csv", 
                   dtype = {'GEOID':'str'}, 
                   low_memory = False,
                   index_col = False)
data.head(1).T

                                     0
Unnamed: 0                           0
patent_number                  7628713
assignee                    NIKE, INC.
grant_year                      2009.0
application_year                  2009
application_number            12358973
GEOID                            41067
ipc_section                          A
team_size                            1
inventors                            1
men_inventors                      1.0
women_inventors                      0
already_granted                      1
assignee_uni_clean2         nike, inc.
Institution                        NaN
Control                            NaN
level_r1                           NaN
level_r2                           NaN
special_focus                      NaN
GEO_ID_CLEAN                       NaN
year                               NaN
Perc_Over25_LessNinthGrade         NaN
Perc_Over25_SomeHighSchool         NaN
Perc_Over25_HighSchoolGrad         NaN
Perc_Over25_SomeCollege            NaN
Perc_Over25_Assosciates            NaN
Perc_Over25_Bachelors              NaN
Perc_Over25_Graduate               NaN
matched                      left_only

# DESCISON: got rid of 2009 data becasue 2010 is the census year and don't have other stuff for it

**2018 & 2019 for hold out data -> test set**

In [7]:
data = data.query("application_year >= 2010")
data.shape

(1716643, 29)

In [8]:
#got rid of territories that didn't match
data = data.query("matched != 'left_only'")
#data.GEOID.str.startswith(['72', '66', '69', '78']).sum()

In [9]:
# drop the match column and the unnamed columne
data.drop(['matched', 'Unnamed: 0'], axis = 1, inplace = True)
data

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
75,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2
117,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2
118,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2
119,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2
120,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886615,NaN,"Theravance Biopharma R&D IP, LLC",NaN,2019,16425166,06081,NaN,2,2,2.0,0,0,"theravance biopharma r&d ip, llc",NaN,NaN,NaN,NaN,NaN,6081.0,2019.0,6.2,4.2,14.9,16.7,7.0,29.0,22.0
1886616,NaN,Intel Corporation,NaN,2019,16424945,06085,NaN,3,3,3.0,0,0,intel corporation,NaN,NaN,NaN,NaN,NaN,6085.0,2019.0,6.7,4.9,14.1,15.0,6.8,27.7,24.7
1886617,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,0,0,"bipad, inc.",NaN,NaN,NaN,NaN,NaN,36059.0,2019.0,4.7,3.9,22.7,14.8,7.9,25.3,20.7
1886618,9325052,PURDUE RESEARCH FOUNDATION REGENTS OF THE UNIV...,2016.0,2013,13907436,18157,B H,6,6,6.0,0,1,purdue university,purdue university,Public,1.0,0.0,0.0,18157.0,2013.0,3.7,5.8,27.8,19.5,6.3,19.4,17.4
1886620,10119119,CARNEGIE MELLON UNIVERSITY AND UNIVERSITY OF P...,2018.0,2013,14375705,42003,A B C G,3,3,2.0,1,1,carnegie mellon university and university of p...,NaN,NaN,NaN,NaN,NaN,42003.0,2013.0,2.0,4.9,30.0,16.9,8.3,22.4,15.6

In [10]:
#too help join with county business pattern data 
data = data.assign(STATEFP = data.GEOID.str[:2])
data

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP
75,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41
117,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41
118,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41
119,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41
120,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886615,NaN,"Theravance Biopharma R&D IP, LLC",NaN,2019,16425166,06081,NaN,2,2,2.0,0,0,"theravance biopharma r&d ip, llc",NaN,NaN,NaN,NaN,NaN,6081.0,2019.0,6.2,4.2,14.9,16.7,7.0,29.0,22.0,06
1886616,NaN,Intel Corporation,NaN,2019,16424945,06085,NaN,3,3,3.0,0,0,intel corporation,NaN,NaN,NaN,NaN,NaN,6085.0,2019.0,6.7,4.9,14.1,15.0,6.8,27.7,24.7,06
1886617,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,0,0,"bipad, inc.",NaN,NaN,NaN,NaN,NaN,36059.0,2019.0,4.7,3.9,22.7,14.8,7.9,25.3,20.7,36
1886618,9325052,PURDUE RESEARCH FOUNDATION REGENTS OF THE UNIV...,2016.0,2013,13907436,18157,B H,6,6,6.0,0,1,purdue university,purdue university,Public,1.0,0.0,0.0,18157.0,2013.0,3.7,5.8,27.8,19.5,6.3,19.4,17.4,18
1886620,10119119,CARNEGIE MELLON UNIVERSITY AND UNIVERSITY OF P...,2018.0,2013,14375705,42003,A B C G,3,3,2.0,1,1,carnegie mellon university and university of p...,NaN,NaN,NaN,NaN,NaN,42003.0,2013.0,2.0,4.9,30.0,16.9,8.3,22.4,15.6,42

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1716567 entries, 75 to 1886620
Data columns (total 28 columns):
 #   Column                      Dtype
---  ------                      -----
 0   patent_number               object
 1   assignee                    object
 2   grant_year                  float64
 3   application_year            int64
 4   application_number          int64
 5   GEOID                       object
 6   ipc_section                 object
 7   team_size                   int64
 8   inventors                   int64
 9   men_inventors               float64
 10  women_inventors             int64
 11  already_granted             int64
 12  assignee_uni_clean2         object
 13  Institution                 object
 14  Control                     object
 15  level_r1                    float64
 16  level_r2                    float64
 17  special_focus               float64
 18  GEO_ID_CLEAN                float64
 19  year                        float64
 20  Perc_Over25_LessNinthGrade  float64
 21  Perc_Over25_SomeHighSchool  float64
 22  Perc_Over25_HighSchoolGrad  float64
 23  Perc_Over25_SomeCollege     float64
 24  Perc_Over25_Assosciates     float64
 25  Perc_Over25_Bachelors       float64
 26  Perc_Over25_Graduate        float64
 27  STATEFP                     object
dtypes: float64(14), int64(6), object(8)
memory usage: 379.8+ MB

# County Business Patterns Data (from Michael)

In [10]:
#need to pad the right with a 0 
state_region = pd.read_csv("state_regions.csv")
state_region

,OID_,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,bea_region
0,40,4,9,2,1785533,2,AK,Alaska,Far West
1,13,4,9,6,1779778,6,CA,California,Far West
2,31,4,9,15,1779782,15,HI,Hawaii,Far West
3,39,4,8,32,1779793,32,NV,Nevada,Far West
4,16,4,9,41,1155107,41,OR,Oregon,Far West
5,19,4,9,53,1779804,53,WA,Washington,Far West
6,2,2,3,17,1779784,17,IL,Illinois,Great Lakes
7,48,2,3,18,448508,18,IN,Indiana,Great Lakes
8,42,2,3,26,1779789,26,MI,Michigan,Great Lakes
9,24,2,3,39,1085497,39,OH,Ohio,Great Lakes
10,15,2,3,55,1779806,55,WI,Wisconsin,Great Lakes
11,11,3,5,10,1779781,10,DE,Delaware,Mideast
12,53,3,5,11,1702382,11,DC,District of Columbia,Mideast
13,4,3,5,24,1714934,24,MD,Maryland,Mideast
14,14,1,2,34,1779795,34,NJ,New Jersey,Mideast
15,38,1,2,36,1779796,36,NY,New York,Mideast
16,18,1,2,42,1779798,42,PA,Pennsylvania,Mideast
17,10,1,1,9,1779780,9,CT,Connecticut,New England
18,37,1,1,23,1779787,23,ME,Maine,New England
19,51,1,1,25,606926,25,MA,Massachusetts,New England
20,7,1,1,33,1779794,33,NH,New Hampshire,New England
21,5,1,1,44,1219835,44,RI,Rhode Island,New England
22,9,1,1,50,1779802,50,VT,Vermont,New England
23,54,2,4,19,1779785,19,IA,Iowa,Plains
24,47,2,4,20,481813,20,KS,Kansas,Plains
25,3,2,4,27,662849,27,MN,Minnesota,Plains
26,45,2,4,29,1779791,29,MO,Missouri,Plains
27,17,2,4,31,1779792,31,NE,Nebraska,Plains
28,32,2,4,38,1779797,38,ND,North Dakota,Plains
29,50,2,4,46,1785534,46,SD,South Dakota,Plains
30,26,4,8,8,1779779,8,CO,Colorado,Rocky Mountain
31,6,4,8,16,1779783,16,ID,Idaho,Rocky Mountain
32,46,4,8,30,767982,30,MT,Montana,Rocky Mountain
33,23,4,8,49,1455989,49,UT,Utah,Rocky Mountain
34,30,4,8,56,1779807,56,WY,Wyoming,Rocky Mountain
35,22,3,6,1,1779775,1,AL,Alabama,Southeast
36,43,3,7,5,68085,5,AR,Arkansas,Southeast
37,1,3,5,12,294478,12,FL,Florida,Southeast
38,21,3,5,13,1705317,13,GA,Georgia,Southeast
39,33,3,6,21,1779786,21,KY,Kentucky,Southeast
40,20,3,7,22,1629543,22,LA,Louisiana,Southeast
41,44,3,6,28,1779790,28,MS,Mississippi,Southeast
42,8,3,5,37,1027616,37,NC,North Carolina,Southeast
43,27,3,5,45,1779799,45,SC,South Carolina,Southeast
44,29,3,6,47,1325873,47,TN,Tennessee,Southeast
45,52,3,5,51,1779803,51,VA,Virginia,Southeast
46,0,3,5,54,1779805,54,WV,West Virginia,Southeast
47,55,4,8,4,1779777,4,AZ,Arizona,Southwest
48,12,4,8,35,897535,35,NM,New Mexico,Southwest
49,28,3,7,40,1102857,40,OK,Oklahoma,Southwest
50,25,3,7,48,1779801,48,TX,Texas,Southwest

In [11]:
state_region = state_region.assign(STATEFP = state_region['STATEFP'].astype(str).str.zfill(2))
state_region.head(10)

,OID_,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,bea_region
0,40,4,9,02,1785533,2,AK,Alaska,Far West
1,13,4,9,06,1779778,6,CA,California,Far West
2,31,4,9,15,1779782,15,HI,Hawaii,Far West
3,39,4,8,32,1779793,32,NV,Nevada,Far West
4,16,4,9,41,1155107,41,OR,Oregon,Far West
5,19,4,9,53,1779804,53,WA,Washington,Far West
6,2,2,3,17,1779784,17,IL,Illinois,Great Lakes
7,48,2,3,18,448508,18,IN,Indiana,Great Lakes
8,42,2,3,26,1779789,26,MI,Michigan,Great Lakes
9,24,2,3,39,1085497,39,OH,Ohio,Great Lakes

# test merge for data dn state_region

In [18]:
# test_merge = pd.merge(data, state_region, 
#                       how = 'outer',
#                       on = 'STATEFP',
#                       validate = 'many_to_one',
#                       indicator = 'matched')
# test_merge.query("matched != 'both'")

In [13]:
#terrritories should not be included in this so will do inner merge to get rid of them
#test_merge.query("matched != 'both'").STATEFP.unique()

array(['72', '66', '69', '78'], dtype=object)

In [19]:
data_state = pd.merge(data, state_region, 
                       how = 'inner',
                       on = 'STATEFP')
                      
data_state.shape

(1716238, 36)

In [21]:
data_state.head(2)

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME,bea_region
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West

In [22]:
naic2 = pd.read_csv("cbp_lq_2digit_naics_all_years_base_PIVOT.csv", 
                    dtype = {'county_fips': 'str'})
naic2

,index,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,year,99,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base
0,0,01001,2.328871,0.643839,3.227681,0.993151,0.000000,0.000000,1.902290,0.252544,0.313750,0.598144,0.707264,0.467419,0.000000,0.126358,0.000000,0.821593,0.939930,2.256725,1.834653,50553,216053,871,2010,NaN,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,1,01003,0.000000,0.000000,0.000000,1.365041,0.729396,0.741826,1.896289,0.411235,0.396441,0.596800,1.869532,0.504351,0.168382,0.555249,0.644376,0.846336,1.008022,1.722148,1.200355,335368,1466855,4665,2010,NaN,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,1,1
2,2,01005,14.625609,0.000000,0.000000,0.450831,4.682081,0.218306,1.025922,1.468115,0.131978,0.566286,0.000000,0.218362,0.000000,0.000000,0.463320,0.603481,0.426263,0.700323,0.582845,48489,208644,516,2010,NaN,1,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3,3,01007,18.391252,0.000000,0.000000,3.493517,1.222402,0.519480,1.430738,0.000000,0.379729,0.497003,0.000000,0.190788,0.000000,0.000000,0.000000,1.301546,0.171894,0.690103,1.110274,19428,89160,293,2010,NaN,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1
4,4,01009,0.000000,0.000000,0.000000,1.705267,2.240022,0.000000,1.428790,0.594360,0.585008,0.713404,0.000000,0.462819,0.000000,0.000000,0.000000,0.858152,0.495169,0.752408,1.685562,38836,166882,701,2010,NaN,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34307,3130,56037,0.000000,42.468579,5.491809,0.900077,1.400053,0.920426,1.243615,1.399134,0.402104,0.389347,0.883830,0.475840,0.290922,0.316284,0.118179,0.600167,0.212691,1.091972,0.781495,244156,941337,1182,2020,0.000000,0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0
34308,3131,56039,1.224360,0.000000,0.000000,2.186666,0.132216,0.270069,0.895855,0.465927,0.611075,0.452970,2.356296,0.805785,0.088036,0.453581,1.020757,0.508294,7.851443,2.372869,0.905813,213995,905798,2253,2020,2.554929,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0
34309,3132,56041,0.000000,5.759218,2.377486,5.649656,0.296068,0.459452,1.141431,1.191604,1.259663,0.405743,0.836290,0.581248,0.308927,0.077923,0.000000,1.169520,0.641963,0.829782,0.380538,97129,358966,554,2020,0.000000,0,1,1,1,0,0,1,1,1,0,0,0,0,0,0,1,0,0,0
34310,3133,56043,0.000000,3.453445,2.523699,1.582423,1.469166,0.902132,1.171319,0.922063,1.131271,0.829640,1.020969,0.638270,0.000000,0.082823,0.000000,1.599171,0.420505,0.844489,1.058969,24360,100509,326,2020,0.000000,0,1,1,1,1,0,1,0,1,0,1,0,0,0,0,1,0,0,1
34311,3134,56045,0.000000,8.743246,1.094017,2.159153,0.951064,0.297703,1.273021,1.860765,0.754919,0.795269,0.000000,0.310017,0.000000,0.253452,0.000000,1.396101,0.000000,1.248279,1.104212,16971,67665,214,2020,0.000000,0,1,1,1,0,0,1,1,0,0,0,0,0,0,0,1,0,1,1

In [23]:
naic2.columns

Index(['index', 'county_fips', 'Agriculture_Forestry_Fishing_Hunting',
       'Mining_Quarrying_and_Oil_Gas_Extraction', 'Utilities', 'Construction',
       'Manufacturing', 'Wholesale_Trade', 'Retail_Trade',
       'Transportation_Warehousing', 'Information', 'Finance_Insurance',
       'Real_Estate_Rental_Leasing',
       'Professional_Scientific_and_Technical_Services',
       'Management_of_Companies_Enterprises',
       'Administrative_Support_Waste_Management_Remediation_Services',
       'Educational_Services', 'Health_Care_Social_Assistance',
       'Arts_Entertainment_and_Recreation', 'Accommodation_Food_Services',
       'Other_Services_except_Public_Administration', 'qp1', 'ap', 'est',
       'year', '99', 'Agriculture_Forestry_Fishing_Hunting_base',
       'Mining_Quarrying_and_Oil_Gas_Extraction_base', 'Utilities_base',
       'Construction_base', 'Manufacturing_base', 'Wholesale_Trade_base',
       'Retail_Trade_base', 'Transportation_Warehousing_base',
       'Information_base', 'Finance_Insurance_base',
       'Real_Estate_Rental_Leasing_base',
       'Professional_Scientific_and_Technical_Services_base',
       'Management_of_Companies_Enterprises_base',
       'Administrative_Support_Waste_Management_Remediation_Services_base',
       'Educational_Services_base', 'Health_Care_Social_Assistance_base',
       'Arts_Entertainment_and_Recreation_base',
       'Accommodation_Food_Services_base',
       'Other_Services_except_Public_Administration_base'],
      dtype='object')

In [50]:
#naic2.drop(['index' ,'99'], axis = 1, inplace = True)
#naic2.head()

In [31]:
naic2.head()

,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,year,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base
0,01001,2.328871,0.643839,3.227681,0.993151,0.000000,0.000000,1.902290,0.252544,0.313750,0.598144,0.707264,0.467419,0.000000,0.126358,0.000000,0.821593,0.939930,2.256725,1.834653,50553,216053,871,2010,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,01003,0.000000,0.000000,0.000000,1.365041,0.729396,0.741826,1.896289,0.411235,0.396441,0.596800,1.869532,0.504351,0.168382,0.555249,0.644376,0.846336,1.008022,1.722148,1.200355,335368,1466855,4665,2010,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,1,1
2,01005,14.625609,0.000000,0.000000,0.450831,4.682081,0.218306,1.025922,1.468115,0.131978,0.566286,0.000000,0.218362,0.000000,0.000000,0.463320,0.603481,0.426263,0.700323,0.582845,48489,208644,516,2010,1,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3,01007,18.391252,0.000000,0.000000,3.493517,1.222402,0.519480,1.430738,0.000000,0.379729,0.497003,0.000000,0.190788,0.000000,0.000000,0.000000,1.301546,0.171894,0.690103,1.110274,19428,89160,293,2010,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,1
4,01009,0.000000,0.000000,0.000000,1.705267,2.240022,0.000000,1.428790,0.594360,0.585008,0.713404,0.000000,0.462819,0.000000,0.000000,0.000000,0.858152,0.495169,0.752408,1.685562,38836,166882,701,2010,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [55]:
# test_merge = pd.merge(data_state, naic2,
#                       how = 'outer',
#                       left_on = ['GEOID_x', 'application_year'],
#                       right_on = ['county_fips','year'],
#                       validate = 'many_to_one',
#                       indicator = 'matched')

# test_merge.query("matched == 'left_only'")
# test_merge.query("matched == 'left_only'").shape

In [40]:
data_state_naic2 = pd.merge(data_state, naic2,
                      how = 'inner',
                      left_on = ['GEOID_x', 'application_year'],
                      right_on = ['county_fips','year'])


data_state_naic2.shape

(1715757, 79)

In [47]:
data_state_naic2.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year_x,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME,bea_region,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,year_y,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0

In [48]:
data_state_naic2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715757 entries, 0 to 1715756
Data columns (total 79 columns):
 #   Column                                                             Dtype
---  ------                                                             -----
 0   patent_number                                                      object
 1   assignee                                                           object
 2   grant_year                                                         float64
 3   application_year                                                   int64
 4   application_number                                                 int64
 5   GEOID_x                                                            object
 6   ipc_section                                                        object
 7   team_size                                                          int64
 8   inventors                                                          int64
 9   men_inventors                                                      float64
 10  women_inventors                                                    int64
 11  already_granted                                                    int64
 12  assignee_uni_clean2                                                object
 13  Institution                                                        object
 14  Control                                                            object
 15  level_r1                                                           float64
 16  level_r2                                                           float64
 17  special_focus                                                      float64
 18  GEO_ID_CLEAN                                                       float64
 19  year_x                                                             float64
 20  Perc_Over25_LessNinthGrade                                         float64
 21  Perc_Over25_SomeHighSchool                                         float64
 22  Perc_Over25_HighSchoolGrad                                         float64
 23  Perc_Over25_SomeCollege                                            float64
 24  Perc_Over25_Assosciates                                            float64
 25  Perc_Over25_Bachelors                                              float64
 26  Perc_Over25_Graduate                                               float64
 27  STATEFP                                                            object
 28  OID_                                                               int64
 29  REGION                                                             int64
 30  DIVISION                                                           int64
 31  STATENS                                                            int64
 32  GEOID_y                                                            int64
 33  STUSPS                                                             object
 34  NAME                                                               object
 35  bea_region                                                         object
 36  county_fips                                                        object
 37  Agriculture_Forestry_Fishing_Hunting                               float64
 38  Mining_Quarrying_and_Oil_Gas_Extraction                            float64
 39  Utilities                                                          float64
 40  Construction                                                       float64
 41  Manufacturing                                                      float64
 42  Wholesale_Trade                                                    float64
 43  Retail_Trade                                                       float64
 44  Transportation_Warehousing                                         float64
 45  Information                                                        float64
 46  Finance_Insurance                                                  float64
 47  Real_Estate_Rental_Leasing                                         float64
 48  Professional_Scientific_and_Technical_Services                     float64
 49  Management_of_Companies_Enterprises                                float64
 50  Administrative_Support_Waste_Management_Remediation_Services       float64
 51  Educational_Services                                               float64
 52  Health_Care_Social_Assistance                                      float64
 53  Arts_Entertainment_and_Recreation                                  float64
 54  Accommodation_Food_Services                                        float64
 55  Other_Services_except_Public_Administration                        float64
 56  qp1                                                                int64
 57  ap                                                                 int64
 58  est                                                                int64
 59  year_y                                                             int64
 60  Agriculture_Forestry_Fishing_Hunting_base                          int64
 61  Mining_Quarrying_and_Oil_Gas_Extraction_base                       int64
 62  Utilities_base                                                     int64
 63  Construction_base                                                  int64
 64  Manufacturing_base                                                 int64
 65  Wholesale_Trade_base                                               int64
 66  Retail_Trade_base                                                  int64
 67  Transportation_Warehousing_base                                    int64
 68  Information_base                                                   int64
 69  Finance_Insurance_base                                             int64
 70  Real_Estate_Rental_Leasing_base                                    int64
 71  Professional_Scientific_and_Technical_Services_base                int64
 72  Management_of_Companies_Enterprises_base                           int64
 73  Administrative_Support_Waste_Management_Remediation_Services_base  int64
 74  Educational_Services_base                                          int64
 75  Health_Care_Social_Assistance_base                                 int64
 76  Arts_Entertainment_and_Recreation_base                             int64
 77  Accommodation_Food_Services_base                                   int64
 78  Other_Services_except_Public_Administration_base                   int64
dtypes: float64(33), int64(34), object(12)
memory usage: 1.0+ GB

## GDP from Michael

In [94]:
gdp = pd.read_csv('GDP_2020-2009.csv', dtype = {'GeoFips': 'str', 'year':'Int64'})
gdp.head()

        ID GeoFips      GeoName      GDP  year
0      1.0   01001  Autauga, AL  1179897  2009
1   3120.0   01001  Autauga, AL  1265180  2010
2   6239.0   01001  Autauga, AL  1368637  2011
3   9358.0   01001  Autauga, AL  1587254  2012
4  12477.0   01001  Autauga, AL  1519900  2013

In [95]:
gdp.dropna(inplace=True)

In [96]:
# Changing all the combined bea fips to county fips

bea_group_to_census_county_dict = {
'15901':'15005', # 15901 Maui and Kalawao, HI 15005 Kalawao, HI
'51901':'51003', # 51901 Albemarle + Charlottesville, VA  51003 Albemarle, VA 
'51903':'51005', # 51903 Alleghany + Covington, VA  51005 Alleghany, VA 
'51907':'51015', # 51907 Augusta, Staunton + Waynesboro, VA  51015 Augusta, VA 
'51909':'51019', # 51909 Bedford + Bedford City, VA 51019 Bedford, VA
'51911':'51031', # 51911 Campbell + Lynchburg, VA  51031 Campbell, VA 
'51913':'51035', # 51913 Carroll + Galax, VA  51035 Carroll, VA 
'51918':'51053', # 51918 Dinwiddie, Colonial Heights + Petersburg, VA  51053 Dinwiddie, VA 
'51919':'51059', # 51919 Fairfax, Fairfax City + Falls Church, VA  51059 Fairfax, VA 
'51921':'51069', # 51921 Frederick + Winchester, VA  51069 Frederick, VA 
'51923':'51081', # 51923 Greensville + Emporia, VA  51081 Greensville, VA 
'51925':'51083', # 51925 Halifax + South Boston, VA 51083 Halifax, VA
'51929':'51089', # 51929 Henry + Martinsville, VA  51089 Henry, VA 
'51931':'51095', # 51931 James City + Williamsburg, VA  51095 James City, VA 
'51933':'51121', # 51933 Montgomery + Radford, VA  51121 Montgomery, VA 
'51939':'51143', # 51939 Pittsylvania + Danville, VA  51143 Pittsylvania, VA 
'51941':'51149', # 51941 Prince George + Hopewell, VA  51149 Prince George, VA 
'51942':'51153', # 51942 Prince William, Manassas + Manassas Park, VA  51153 Prince William, VA 
'51944':'51161', # 51944 Roanoke + Salem, VA  51161 Roanoke, VA 
'51945':'51163', # 51945 Rockbridge, Buena Vista + Lexington, VA  51163 Rockbridge, VA 
'51947':'51165', # 51947 Rockingham + Harrisonburg, VA  51165 Rockingham, VA 
'51949':'51175', # 51949 Southampton + Franklin, VA  51175 Southampton, VA 
'51951':'51177', # 51951 Spotsylvania + Fredericksburg, VA  51177 Spotsylvania, VA 
'51953':'51191', # 51953 Washington + Bristol, VA  51191 Washington, VA 
'51955':'51195', # 51955 Wise + Norton, VA  51195 Wise, VA 
'51958':'51199', # 51958 York + Poquoson, VA  51199 York, VA 
'55901':'55078', # 55901 Shawano (incl. Menominee), WI (prior to 1989) 55078 Menominee, WI
}

shape = gdp.query('GeoFips == "51901"').shape
print(f'Before replacment: {shape}')
gdp = gdp.copy()
gdp['original_GeoFips'] = gdp['GeoFips']
gdp.GeoFips.replace(to_replace=bea_group_to_census_county_dict, inplace=True)
shape = gdp.query('GeoFips == "51901"').shape
print(f'After replacment: {shape}')

Before replacment: (12, 5)
After replacment: (0, 6)

In [99]:
# The structure of the dict is: key = independent city
# The values is county the independent city is grouped with by the bea.
# For each key we need to reclassify it to value of the associated county.
census_independent_to_census_county_dict = {
    '15009':'15005', # 15009 Maui, HI 15005 Kalawao, HI
    '51540':'51003', # 51540 Charlottesville (Independent City), VA  51003 Albemarle, VA 
    '51580':'51005', # 51580 Covington (Independent City), VA  51005 Alleghany, VA 
    '51790':'51015', # 51790 Staunton (Independent City), VA  51015 Augusta, VA 
    '51820':'51015', # 51820 Waynesboro (Independent City), VA  51015 Augusta, VA 
    '51515':'51019', # 51515 Bedford (Indenpedent City), VA 51019 Bedford, VA
    '51680':'51031', # 51680 Lynchburg (Independent City), VA  51031 Campbell, VA 
    '51640':'51035', # 51640 Galax (Independent City), VA  51035 Carroll, VA 
    '51570':'51053', # 51570 Colonial Heights (Independent City), VA  51053 Dinwiddie, VA 
    '51730':'51053', # 51730 Petersburg (Independent City), VA  51053 Dinwiddie, VA 
    '51600':'51059', # 51600 Fairfax City (Independent City), VA  51059 Fairfax, VA 
    '51610':'51059', # 51610 Falls Church (Independent City), VA  51059 Fairfax, VA 
    '51840':'51069', # 51840 Winchester (Independent City), VA  51069 Frederick, VA 
    '51595':'51081', # 51595 Emporia (Independent City), VA  51081 Greensville, VA 
    '51780':'51083', # 51780 South Boston (Independent City), VA 51083 Halifax, VA
    '51690':'51089', # 51690 Martinsville (Independent City), VA  51089 Henry, VA 
    '51830':'51095', # 51830 Williamsburg (Independent City), VA  51095 James City, VA 
    '51750':'51121', # 51750 Radford (Independent City), VA  51121 Montgomery, VA 
    '51590':'51143', # 51590 Danville (Independent City), VA  51143 Pittsylvania, VA 
    '51670':'51149', # 51670 Hopewell (Independent City), VA  51149 Prince George, VA 
    '51683':'51153', # 51683 Manassas (Independent City), VA  51153 Prince William, VA 
    '51685':'51153', # 51685 Manassas Park (Independent City), VA  51153 Prince William, VA 
    '51775':'51161', # 51775 Salem (Independent City), VA  51161 Roanoke, VA 
    '51530':'51163', # 51530 Buena Vista (Independent City), VA  51163 Rockbridge, VA 
    '51678':'51163', # 51678 Lexington (Independent City), VA  51163 Rockbridge, VA 
    '51660':'51165', # 51660 Harrisonburg (Independent City), VA  51165 Rockingham, VA 
    '51620':'51175', # 51620 Franklin (Independent City), VA  51175 Southampton, VA 
    '51630':'51177', # 51630 Fredericksburg (Independent City), VA  51177 Spotsylvania, VA 
    '51520':'51191', # 51520 Bristol (Independent City), VA  51191 Washington, VA 
    '51720':'51195', # 51720 Norton (Independent City), VA  51195 Wise, VA 
    '51735':'51199', # 51735 Poquoson (Independent City), VA  51199 York, VA 
    '55115':'55078' # 55115 Shawano, WI 55078 Menominee, WI
}

shape = data_state_naic2.query('GEOID_x == "51840"').shape
print(f'Before replacment: {shape}')
#data_state_naic2 = data_state_naic2.copy()
data_state_naic2['original_GEOID'] = data_state_naic2['GEOID_x']
data_state_naic2.GEOID_x.replace(to_replace=census_independent_to_census_county_dict, inplace=True)
shape = data_state_naic2.query('GEOID_x == "51840"').shape
print(f'After replacment: {shape}')

Before replacment: (191, 80)
After replacment: (0, 80)

## Test merge for gdp

In [100]:
#test Merge bea gdp and patents data
# test_merge = pd.merge(data_state_naic2, gdp,
#                       left_on = ['GEOID_x', 'application_year'],
#                       right_on = ['GeoFips', 'year'],
#                       how = 'outer',
#                       indicator = 'matched',
#                       validate = 'many_to_one')

# print(len(test_merge.query("matched == 'left_only'").GeoFips.unique()))
# # The missing values
# missing_values_patents = pd.DataFrame(test_merge.query("matched == 'left_only'")).reset_index()

0

In [103]:
data_state_naic2_gdp = pd.merge(data_state_naic2, gdp,
                      left_on = ['GEOID_x', 'application_year'],
                      right_on = ['GeoFips', 'year'],
                      how = 'inner')

data_state_naic2_gdp.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year_x,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME,bea_region,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,year_y,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,original_GEOID,ID,GeoFips,GeoName,GDP,year,original_GeoFips
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,2010.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,2010,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067

In [104]:
# looking at shape (rows and columns) 
data_state_naic2_gdp.shape

(1715757, 86)

In [109]:
data_state_naic2_gdp.columns

Index(['patent_number', 'assignee', 'grant_year', 'application_year',
       'application_number', 'GEOID_x', 'ipc_section', 'team_size',
       'inventors', 'men_inventors', 'women_inventors', 'already_granted',
       'assignee_uni_clean2', 'Institution', 'Control', 'level_r1', 'level_r2',
       'special_focus', 'GEO_ID_CLEAN', 'year_x', 'Perc_Over25_LessNinthGrade',
       'Perc_Over25_SomeHighSchool', 'Perc_Over25_HighSchoolGrad',
       'Perc_Over25_SomeCollege', 'Perc_Over25_Assosciates',
       'Perc_Over25_Bachelors', 'Perc_Over25_Graduate', 'STATEFP', 'OID_',
       'REGION', 'DIVISION', 'STATENS', 'GEOID_y', 'STUSPS', 'NAME',
       'bea_region', 'county_fips', 'Agriculture_Forestry_Fishing_Hunting',
       'Mining_Quarrying_and_Oil_Gas_Extraction', 'Utilities', 'Construction',
       'Manufacturing', 'Wholesale_Trade', 'Retail_Trade',
       'Transportation_Warehousing', 'Information', 'Finance_Insurance',
       'Real_Estate_Rental_Leasing',
       'Professional_Scientific_and_Technical_Services',
       'Management_of_Companies_Enterprises',
       'Administrative_Support_Waste_Management_Remediation_Services',
       'Educational_Services', 'Health_Care_Social_Assistance',
       'Arts_Entertainment_and_Recreation', 'Accommodation_Food_Services',
       'Other_Services_except_Public_Administration', 'qp1', 'ap', 'est',
       'year_y', 'Agriculture_Forestry_Fishing_Hunting_base',
       'Mining_Quarrying_and_Oil_Gas_Extraction_base', 'Utilities_base',
       'Construction_base', 'Manufacturing_base', 'Wholesale_Trade_base',
       'Retail_Trade_base', 'Transportation_Warehousing_base',
       'Information_base', 'Finance_Insurance_base',
       'Real_Estate_Rental_Leasing_base',
       'Professional_Scientific_and_Technical_Services_base',
       'Management_of_Companies_Enterprises_base',
       'Administrative_Support_Waste_Management_Remediation_Services_base',
       'Educational_Services_base', 'Health_Care_Social_Assistance_base',
       'Arts_Entertainment_and_Recreation_base',
       'Accommodation_Food_Services_base',
       'Other_Services_except_Public_Administration_base', 'original_GEOID',
       'ID', 'GeoFips', 'GeoName', 'GDP', 'year', 'original_GeoFips'],
      dtype='object')

In [111]:
# drop extra year delineations
data_state_naic2_gdp.drop(['year_x', 'year_y'], axis = 1, inplace = True)
data_state_naic2_gdp.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME,bea_region,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,original_GEOID,ID,GeoFips,GeoName,GDP,year,original_GeoFips
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067

In [1]:
data_state_naic2_gdp.info()

NameError: name 'data_state_naic2_gdp' is not defined

## And now labor force data

In [107]:
labor_data = pd.read_csv('ACS_labor_force_2009-2020.csv', dtype = {'GEOID':'str'})
print(labor_data.shape)
labor_data.head()

(35424, 6)

,year,pop_gt_16,pop_gt_16_lf,pop_gt_16_lf_c,GEOID,NAME
0,2019,43953,25908,25458,01001,"Autauga County, Alabama"
1,2019,172297,99495,99317,01003,"Baldwin County, Alabama"
2,2019,20636,9262,9262,01005,"Barbour County, Alabama"
3,2019,18492,9046,9046,01007,"Bibb County, Alabama"
4,2019,45907,22715,22680,01009,"Blount County, Alabama"

In [112]:
# test merge 
# big data on GEOID_x and application_year
# labor on year and GEOID

# test_merge = pd.merge(data_state_naic2_gdp, labor_data,
#                       how = 'outer',
#                       left_on = ['GEOID_x', 'application_year'],
#                       right_on = ['GEOID', 'year'],
#                       indicator = 'matched',
#                       validate = 'many_to_one')

# test_merge.query(" matched == 'left_only'")

Empty DataFrame
Columns: [patent_number, assignee, grant_year, application_year, application_number, GEOID_x, ipc_section, team_size, inventors, men_inventors, women_inventors, already_granted, assignee_uni_clean2, Institution, Control, level_r1, level_r2, special_focus, GEO_ID_CLEAN, Perc_Over25_LessNinthGrade, Perc_Over25_SomeHighSchool, Perc_Over25_HighSchoolGrad, Perc_Over25_SomeCollege, Perc_Over25_Assosciates, Perc_Over25_Bachelors, Perc_Over25_Graduate, STATEFP, OID_, REGION, DIVISION, STATENS, GEOID_y, STUSPS, NAME_x, bea_region, county_fips, Agriculture_Forestry_Fishing_Hunting, Mining_Quarrying_and_Oil_Gas_Extraction, Utilities, Construction, Manufacturing, Wholesale_Trade, Retail_Trade, Transportation_Warehousing, Information, Finance_Insurance, Real_Estate_Rental_Leasing, Professional_Scientific_and_Technical_Services, Management_of_Companies_Enterprises, Administrative_Support_Waste_Management_Remediation_Services, Educational_Services, Health_Care_Social_Assistance, Arts_Entertainment_and_Recreation, Accommodation_Food_Services, Other_Services_except_Public_Administration, qp1, ap, est, Agriculture_Forestry_Fishing_Hunting_base, Mining_Quarrying_and_Oil_Gas_Extraction_base, Utilities_base, Construction_base, Manufacturing_base, Wholesale_Trade_base, Retail_Trade_base, Transportation_Warehousing_base, Information_base, Finance_Insurance_base, Real_Estate_Rental_Leasing_base, Professional_Scientific_and_Technical_Services_base, Management_of_Companies_Enterprises_base, Administrative_Support_Waste_Management_Remediation_Services_base, Educational_Services_base, Health_Care_Social_Assistance_base, Arts_Entertainment_and_Recreation_base, Accommodation_Food_Services_base, Other_Services_except_Public_Administration_base, original_GEOID, ID, GeoFips, GeoName, GDP, year_x, original_GeoFips, year_y, pop_gt_16, pop_gt_16_lf, pop_gt_16_lf_c, GEOID, NAME_y, matched]
Index: []

In [113]:
data_state_naic2_gdp_labor = pd.merge(data_state_naic2_gdp, labor_data,
                      how = 'left',
                      left_on = ['GEOID_x', 'application_year'],
                      right_on = ['GEOID', 'year'])

data_state_naic2_gdp_labor.shape

(1715757, 90)

In [114]:
data_state_naic2_gdp_labor.head()

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME_x,bea_region,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,original_GEOID,ID,GeoFips,GeoName,GDP,year_x,original_GeoFips,year_y,pop_gt_16,pop_gt_16_lf,pop_gt_16_lf_c,GEOID,NAME_y
0,7834652,LATTICE SEMICONDUCTOR CORPORATION,2010.0,2010,12709685,41067,H,3,3,2.0,1,1,lattice semiconductor corporation,NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067,2010,397577,282343,281948,41067,"Washington County, Oregon"
1,D613933,"NIKE, INC.",2010.0,2010,29354180,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067,2010,397577,282343,281948,41067,"Washington County, Oregon"
2,D613934,"NIKE, INC.",2010.0,2010,29354185,41067,NaN,1,1,1.0,0,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067,2010,397577,282343,281948,41067,"Washington County, Oregon"
3,D613935,"NIKE, INC.",2010.0,2010,29354186,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067,2010,397577,282343,281948,41067,"Washington County, Oregon"
4,D613936,"NIKE, INC.",2010.0,2010,29354188,41067,NaN,1,1,0.0,1,1,"nike, inc.",NaN,NaN,NaN,NaN,NaN,41067.0,5.0,5.3,17.6,22.5,8.3,26.1,15.2,41,16,4,9,1155107,41,OR,Oregon,Far West,41067,1.128043,0.07633,0.0,1.026322,1.227994,2.381687,0.975335,0.374296,1.403992,0.902561,1.256738,1.056455,0.0,0.905091,0.900785,0.70196,0.743885,0.729915,0.764135,2574212,10134543,14150,1,0,0,1,1,1,0,0,1,0,1,1,0,0,0,0,0,0,0,41067,5365.0,41067,"Washington, OR",35138407,2010,41067,2010,397577,282343,281948,41067,"Washington County, Oregon"

## trim down to use only certain columns

In [116]:
#data_state_naic2_gdp_labor.columns

In [119]:
data_state_naic2_gdp_labor= data_state_naic2_gdp_labor[['patent_number', 'assignee', 'grant_year', 'application_year',
       'application_number', 'GEOID', 'ipc_section', 'team_size',
       'inventors', 'men_inventors', 'women_inventors', 'already_granted',
       'assignee_uni_clean2', 'Institution', 'Control', 'level_r1', 'level_r2',
       'special_focus', 'Perc_Over25_LessNinthGrade',
       'Perc_Over25_SomeHighSchool', 'Perc_Over25_HighSchoolGrad',
       'Perc_Over25_SomeCollege', 'Perc_Over25_Assosciates',
       'Perc_Over25_Bachelors', 'Perc_Over25_Graduate',
       'bea_region', 'Agriculture_Forestry_Fishing_Hunting',
       'Mining_Quarrying_and_Oil_Gas_Extraction', 'Utilities', 'Construction',
       'Manufacturing', 'Wholesale_Trade', 'Retail_Trade',
       'Transportation_Warehousing', 'Information', 'Finance_Insurance',
       'Real_Estate_Rental_Leasing',
       'Professional_Scientific_and_Technical_Services',
       'Management_of_Companies_Enterprises',
       'Administrative_Support_Waste_Management_Remediation_Services',
       'Educational_Services', 'Health_Care_Social_Assistance',
       'Arts_Entertainment_and_Recreation', 'Accommodation_Food_Services',
       'Other_Services_except_Public_Administration', 'qp1', 'ap', 'est',
       'Agriculture_Forestry_Fishing_Hunting_base',
       'Mining_Quarrying_and_Oil_Gas_Extraction_base', 'Utilities_base',
       'Construction_base', 'Manufacturing_base', 'Wholesale_Trade_base',
       'Retail_Trade_base', 'Transportation_Warehousing_base',
       'Information_base', 'Finance_Insurance_base',
       'Real_Estate_Rental_Leasing_base',
       'Professional_Scientific_and_Technical_Services_base',
       'Management_of_Companies_Enterprises_base',
       'Administrative_Support_Waste_Management_Remediation_Services_base',
       'Educational_Services_base', 'Health_Care_Social_Assistance_base',
       'Arts_Entertainment_and_Recreation_base',
       'Accommodation_Food_Services_base',
       'Other_Services_except_Public_Administration_base', 'GDP',
       'pop_gt_16', 'pop_gt_16_lf', 'pop_gt_16_lf_c']]

In [120]:
data_state_naic2_gdp_labor.shape

(1715757, 71)

In [126]:
#os.getcwd()
os.chdir('/Users/chewy2.0/Capstone')

In [127]:
#save it
data_state_naic2_gdp_labor.to_csv('all_but_pop.csv', index = False)

In [128]:
#show more rows
pd.set_option('display.max_rows', 130)

In [129]:
data_state_naic2_gdp_labor.iloc[0].T

patent_number                                                                                  7834652
assignee                                                             LATTICE SEMICONDUCTOR CORPORATION
grant_year                                                                                      2010.0
application_year                                                                                  2010
application_number                                                                            12709685
GEOID                                                                                            41067
ipc_section                                                                                          H
team_size                                                                                            3
inventors                                                                                            3
men_inventors                                                                                      2.0
women_inventors                                                                                      1
already_granted                                                                                      1
assignee_uni_clean2                                                  lattice semiconductor corporation
Institution                                                                                        NaN
Control                                                                                            NaN
level_r1                                                                                           NaN
level_r2                                                                                           NaN
special_focus                                                                                      NaN
Perc_Over25_LessNinthGrade                                                                         5.0
Perc_Over25_SomeHighSchool                                                                         5.3
Perc_Over25_HighSchoolGrad                                                                        17.6
Perc_Over25_SomeCollege                                                                           22.5
Perc_Over25_Assosciates                                                                            8.3
Perc_Over25_Bachelors                                                                             26.1
Perc_Over25_Graduate                                                                              15.2
bea_region                                                                                    Far West
Agriculture_Forestry_Fishing_Hunting                                                          1.128043
Mining_Quarrying_and_Oil_Gas_Extraction                                                        0.07633
Utilities                                                                                          0.0
Construction                                                                                  1.026322
Manufacturing                                                                                 1.227994
Wholesale_Trade                                                                               2.381687
Retail_Trade                                                                                  0.975335
Transportation_Warehousing                                                                    0.374296
Information                                                                                   1.403992
Finance_Insurance                                                                             0.902561
Real_Estate_Rental_Leasing                                                                    1.256738
Professional_Scientific_and_Technical_Services                                                1.056455
Management_of_Companies_Enterprises                                                                0.0
Administrative_Support_Waste_Management_Remediation_Services                                  0.905091
Educational_Services                                                                          0.900785
Health_Care_Social_Assistance                                                                  0.70196
Arts_Entertainment_and_Recreation                                                             0.743885
Accommodation_Food_Services                                                                   0.729915
Other_Services_except_Public_Administration                                                   0.764135
qp1                                                                                            2574212
ap                                                                                            10134543
est                                                                                              14150
Agriculture_Forestry_Fishing_Hunting_base                                                            1
Mining_Quarrying_and_Oil_Gas_Extraction_base                                                         0
Utilities_base                                                                                       0
Construction_base                                                                                    1
Manufacturing_base                                                                                   1
Wholesale_Trade_base                                                                                 1
Retail_Trade_base                                                                                    0
Transportation_Warehousing_base                                                                      0
Information_base                                                                                     1
Finance_Insurance_base                                                                               0
Real_Estate_Rental_Leasing_base                                                                      1
Professional_Scientific_and_Technical_Services_base                                                  1
Management_of_Companies_Enterprises_base                                                             0
Administrative_Support_Waste_Management_Remediation_Services_base                                    0
Educational_Services_base                                                                            0
Health_Care_Social_Assistance_base                                                                   0
Arts_Entertainment_and_Recreation_base                                                               0
Accommodation_Food_Services_base                                                                     0
Other_Services_except_Public_Administration_base                                                     0
GDP                                                                                           35138407
pop_gt_16                                                                                       397577
pop_gt_16_lf                                                                                    282343
pop_gt_16_lf_c                                                                                  281948
Name: 0, dtype: object

# Brian's Stuff 

Stopped due to confusion about what it is???? -> figured it out 
- redownload the new fixed csv from box

In [51]:
#old stuff
# ei = pd.read_csv("ei_final_final.csv", 
#                  dtype = {'GEOID': 'str', 'GeoFIPS': 'str'})
# ei

In [56]:
#ei.columns

In [52]:
#get rid of those quotes
# ei.GeoFIPS = ei.GeoFIPS.str.replace('"',  '').str.strip()
# ei

# Brian's New stuff

 **county code is the fips -> be sure string and leading a 0**

In [54]:
# ei = pd.read_csv("ei_final_final_hopeful.csv", 
#                   dtype = {'GEOID': 'str', 'GeoFIPS': 'str'})
# ei

,Unnamed: 0,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,County_Name,Year,Award Amount
0,0,"""01001""","Autauga, AL",535644,39092,69250,28256,1160479,11424,8731,67348,1774540,46308,32991,1785964,692183,291014,334471,54135,5188,55039,97506,17483,12295,383099,2009,AL,Autauga,54135,AL,Autauga County,1001,1,1,288,NaN,NaN,NaN,NaN
1,1,"""01003""","Baldwin, AL",2721141,196160,330994,147843,3625277,14632,1012,344003,6350266,241721,35478,6364898,1248139,1483633,1255988,179406,24644,242733,478837,89324,64680,1999571,2009,AL,Baldwin,179406,AL,Baldwin County,1003,1,3,1505,NaN,NaN,NaN,NaN
2,2,"""01005""","Barbour, AL",429668,28956,64008,23435,387341,18712,15908,52391,705593,23636,26189,724305,10064,117582,219382,27657,2724,39544,87443,12978,10254,302681,2009,AL,Barbour,27657,AL,Barbour County,1005,1,5,133,NaN,NaN,NaN,NaN
3,3,"""01007""","Bibb, AL",206853,15973,29693,10729,321855,2655,2515,26702,541878,19920,23736,544533,141704,61383,161295,22941,1753,22435,40422,6304,4551,143996,2009,AL,Bibb,22941,AL,Bibb County,1007,1,7,98,NaN,NaN,NaN,NaN
4,4,"""01009""","Blount, AL",462562,36182,56706,22040,993044,20257,16640,58222,1564234,74275,27633,1584491,588704,213733,377714,57341,4962,90915,78746,15000,10038,292901,2009,AL,Blount,57341,AL,Blount County,1009,1,9,247,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34268,34268,"""56037""","Sweetwater, WY",2186822,122914,243513,125358,1778004,9846,8485,248272,2391232,353226,55947,2401078,-160546,302976,320098,42917,4162,361711,368871,27910,23748,1456240,2019,WY,Sweetwater,42343,WY,Sweetwater County,56037,56,37,416,NaN,NaN,NaN,NaN
34269,34269,"""56039""","Teton, WY",1858314,102201,137206,107871,1519128,3364,-483,210072,5208981,407098,222893,5212345,-129114,3548261,144956,23385,11783,406615,245077,34016,22233,1206622,2019,WY,Teton,23464,WY,Teton County,56039,56,39,1817,NaN,NaN,NaN,NaN
34270,34270,"""56041""","Uinta, WY",546044,34219,79408,36393,536355,4720,2823,70612,831228,39227,41392,835948,60923,133433,166160,20196,2965,42050,115801,11853,8888,388193,2019,WY,Uinta,20226,WY,Uinta County,56041,56,41,190,NaN,NaN,NaN,NaN
34271,34271,"""56043""","Washakie, WY",255080,15662,33784,15405,218093,8598,4675,31067,391502,39099,51138,400100,-5920,99229,82778,7824,1343,43774,49189,5091,3748,162117,2019,WY,Washakie,7805,WY,Washakie County,56043,56,43,96,NaN,NaN,NaN,NaN
34272,34272,"""56045""","Weston, WY",167156,11202,29640,10105,187163,-1459,-3466,21307,322465,18952,46658,321006,41314,62712,71131,6880,1345,15486,39745,3918,2573,111925,2019,WY,Weston,6927,WY,Weston County,56045,56,45,63,NaN,NaN,NaN,NaN

In [57]:
#get rid of those quotes
# ei.GeoFIPS = ei.GeoFIPS.str.replace('"',  '').str.strip()
# ei.head()

,Unnamed: 0,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,County_Name,Year,Award Amount
0,0,01001,"Autauga, AL",535644,39092,69250,28256,1160479,11424,8731,67348,1774540,46308,32991,1785964,692183,291014,334471,54135,5188,55039,97506,17483,12295,383099,2009,AL,Autauga,54135,AL,Autauga County,1001,1,1,288,NaN,NaN,NaN,NaN
1,1,01003,"Baldwin, AL",2721141,196160,330994,147843,3625277,14632,1012,344003,6350266,241721,35478,6364898,1248139,1483633,1255988,179406,24644,242733,478837,89324,64680,1999571,2009,AL,Baldwin,179406,AL,Baldwin County,1003,1,3,1505,NaN,NaN,NaN,NaN
2,2,01005,"Barbour, AL",429668,28956,64008,23435,387341,18712,15908,52391,705593,23636,26189,724305,10064,117582,219382,27657,2724,39544,87443,12978,10254,302681,2009,AL,Barbour,27657,AL,Barbour County,1005,1,5,133,NaN,NaN,NaN,NaN
3,3,01007,"Bibb, AL",206853,15973,29693,10729,321855,2655,2515,26702,541878,19920,23736,544533,141704,61383,161295,22941,1753,22435,40422,6304,4551,143996,2009,AL,Bibb,22941,AL,Bibb County,1007,1,7,98,NaN,NaN,NaN,NaN
4,4,01009,"Blount, AL",462562,36182,56706,22040,993044,20257,16640,58222,1564234,74275,27633,1584491,588704,213733,377714,57341,4962,90915,78746,15000,10038,292901,2009,AL,Blount,57341,AL,Blount County,1009,1,9,247,NaN,NaN,NaN,NaN

In [66]:
#duplicated in data -> have to drop to them to merge
# ei.drop(['Unnamed: 0'], axis = 1, inplace = True)
# ei.head()

,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,County_Name,Year,Award Amount
0,01001,"Autauga, AL",535644,39092,69250,28256,1160479,11424,8731,67348,1774540,46308,32991,1785964,692183,291014,334471,54135,5188,55039,97506,17483,12295,383099,2009,AL,Autauga,54135,AL,Autauga County,1001,1,1,288,NaN,NaN,NaN,NaN
1,01003,"Baldwin, AL",2721141,196160,330994,147843,3625277,14632,1012,344003,6350266,241721,35478,6364898,1248139,1483633,1255988,179406,24644,242733,478837,89324,64680,1999571,2009,AL,Baldwin,179406,AL,Baldwin County,1003,1,3,1505,NaN,NaN,NaN,NaN
2,01005,"Barbour, AL",429668,28956,64008,23435,387341,18712,15908,52391,705593,23636,26189,724305,10064,117582,219382,27657,2724,39544,87443,12978,10254,302681,2009,AL,Barbour,27657,AL,Barbour County,1005,1,5,133,NaN,NaN,NaN,NaN
3,01007,"Bibb, AL",206853,15973,29693,10729,321855,2655,2515,26702,541878,19920,23736,544533,141704,61383,161295,22941,1753,22435,40422,6304,4551,143996,2009,AL,Bibb,22941,AL,Bibb County,1007,1,7,98,NaN,NaN,NaN,NaN
4,01009,"Blount, AL",462562,36182,56706,22040,993044,20257,16640,58222,1564234,74275,27633,1584491,588704,213733,377714,57341,4962,90915,78746,15000,10038,292901,2009,AL,Blount,57341,AL,Blount County,1009,1,9,247,NaN,NaN,NaN,NaN

In [68]:
#drop the duplicates 
#ei.duplicated().sum()
#ei[ei[['GeoFIPS', 'year']].duplicated()]


# ei.drop_duplicates(inplace = True)
# ei.duplicated().sum()

0

In [77]:
# county name causing problems with the (city) in paraenthsis so dropping redundant column
# ei.drop(['County_Name'], axis = 1, inplace = True)
# ei.head()

,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,Year,Award Amount
0,01001,"Autauga, AL",535644,39092,69250,28256,1160479,11424,8731,67348,1774540,46308,32991,1785964,692183,291014,334471,54135,5188,55039,97506,17483,12295,383099,2009,AL,Autauga,54135,AL,Autauga County,1001,1,1,288,NaN,NaN,NaN
1,01003,"Baldwin, AL",2721141,196160,330994,147843,3625277,14632,1012,344003,6350266,241721,35478,6364898,1248139,1483633,1255988,179406,24644,242733,478837,89324,64680,1999571,2009,AL,Baldwin,179406,AL,Baldwin County,1003,1,3,1505,NaN,NaN,NaN
2,01005,"Barbour, AL",429668,28956,64008,23435,387341,18712,15908,52391,705593,23636,26189,724305,10064,117582,219382,27657,2724,39544,87443,12978,10254,302681,2009,AL,Barbour,27657,AL,Barbour County,1005,1,5,133,NaN,NaN,NaN
3,01007,"Bibb, AL",206853,15973,29693,10729,321855,2655,2515,26702,541878,19920,23736,544533,141704,61383,161295,22941,1753,22435,40422,6304,4551,143996,2009,AL,Bibb,22941,AL,Bibb County,1007,1,7,98,NaN,NaN,NaN
4,01009,"Blount, AL",462562,36182,56706,22040,993044,20257,16640,58222,1564234,74275,27633,1584491,588704,213733,377714,57341,4962,90915,78746,15000,10038,292901,2009,AL,Blount,57341,AL,Blount County,1009,1,9,247,NaN,NaN,NaN

In [79]:
# ei.drop_duplicates(inplace = True)
# ei.duplicated().sum()

0

In [85]:
# ei = ei[~ei[['year','GeoFIPS']].duplicated()]
# #ei[['year','GeoFIPS']].drop_duplicates(inplace = True)
# ei[['year','GeoFIPS']].duplicated().sum()

0

In [90]:
# ei.query("GeoFIPS == '45083' & year == 2009")

,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,Year,Award Amount
2358,45083,"Spartanburg, SC",6448057,431548,803887,378373,5219890,20468,16611,809921,8854467,377119,31323,8874935,-418246,1555043,2100002,283335,24678,393730,1182260,145020,120342,4872067,2009,SC,Spartanburg,283335,SC,Spartanburg County,45083,45,83,1733,45083,2009.0,4136122.0

In [ ]:
# join big data on application_year and GEOID_x
# brian's year and GeoFIPS

In [91]:
# test_merge = pd.merge(data_state_naic2, ei,
#                       how = 'outer',
#                       left_on = ['application_year', 'GEOID_x'],
#                       right_on = ['year','GeoFIPS'],
#                       indicator = 'matched',
#                       validate = 'many_to_one')

# test_merge.query("matched == 'left_only'")

,patent_number,assignee,grant_year,application_year,application_number,GEOID_x,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,assignee_uni_clean2,Institution,Control,level_r1,level_r2,special_focus,GEO_ID_CLEAN,year_x,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,STATEFP,OID_,REGION,DIVISION,STATENS,GEOID_y,STUSPS,NAME,bea_region,county_fips,Agriculture_Forestry_Fishing_Hunting,Mining_Quarrying_and_Oil_Gas_Extraction,Utilities,Construction,Manufacturing,Wholesale_Trade,Retail_Trade,Transportation_Warehousing,Information,Finance_Insurance,Real_Estate_Rental_Leasing,Professional_Scientific_and_Technical_Services,Management_of_Companies_Enterprises,Administrative_Support_Waste_Management_Remediation_Services,Educational_Services,Health_Care_Social_Assistance,Arts_Entertainment_and_Recreation,Accommodation_Food_Services,Other_Services_except_Public_Administration,qp1,ap,est,year_y,Agriculture_Forestry_Fishing_Hunting_base,Mining_Quarrying_and_Oil_Gas_Extraction_base,Utilities_base,Construction_base,Manufacturing_base,Wholesale_Trade_base,Retail_Trade_base,Transportation_Warehousing_base,Information_base,Finance_Insurance_base,Real_Estate_Rental_Leasing_base,Professional_Scientific_and_Technical_Services_base,Management_of_Companies_Enterprises_base,Administrative_Support_Waste_Management_Remediation_Services_base,Educational_Services_base,Health_Care_Social_Assistance_base,Arts_Entertainment_and_Recreation_base,Accommodation_Food_Services_base,Other_Services_except_Public_Administration_base,GeoFIPS,GeoName,Earnings by place of work,Employee and self-employed contributions for government social insurance,Employer contributions for employee pension and insurance funds 8,Employer contributions for government social insurance,Equals: Net earnings by place of residence,Farm income 2,Farm proprietors' income,Less: Contributions for government social insurance 5,Nonfarm personal income 1,Nonfarm proprietors' income,Per capita personal income (dollars) 4,Personal income (thousands of dollars),Plus: Adjustment for residence 6,"Plus: Dividends, interest, and rent 7",Plus: Personal current transfer receipts,Population (persons) 3,Proprietors employment,Proprietors' income 9,Supplements to wages and salaries,Total employment,Wage and salary employment,Wages and salaries,year,STNAME,CTYNAME,Population Estimate,State,County,County Code,fipstate,fipscty,Applications,GEOID,Year,Award Amount,matched
1659380,7846069,"PANTOMETRICS, LTD.",2010.0,2010.0,12814633.0,51610,A,1.0,1.0,1.0,0.0,1.0,"pantometrics, ltd.",NaN,NaN,NaN,NaN,NaN,51610.0,2010.0,2.4,1.6,7.3,7.5,2.8,32.0,46.5,51,52.0,3.0,5.0,1779803.0,51.0,VA,Virginia,Southeast,51610,0.000000,0.0,0.000000,1.825261,0.000000,0.230572,0.779973,0.399209,1.274041,0.344740,0.000000,2.767150,0.147667,1.107731,0.507521,1.155067,0.847098,0.971016,2.257534,91898.0,419270.0,803.0,2010.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1659381,8012064,"PANTOMETRICS, LTD.",2011.0,2010.0,12961296.0,51610,A,1.0,1.0,1.0,0.0,1.0,"pantometrics, ltd.",NaN,NaN,NaN,NaN,NaN,51610.0,2010.0,2.4,1.6,7.3,7.5,2.8,32.0,46.5,51,52.0,3.0,5.0,1779803.0,51.0,VA,Virginia,Southeast,51610,0.000000,0.0,0.000000,1.825261,0.000000,0.230572,0.779973,0.399209,1.274041,0.344740,0.000000,2.767150,0.147667,1.107731,0.507521,1.155067,0.847098,0.971016,2.257534,91898.0,419270.0,803.0,2010.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1659382,8055580,CAPITAL ONE FINANCIAL CORPORATION,2011.0,2010.0,12724246.0,51610,G,3.0,3.0,2.0,1.0,1.0,capital one financial corporation,NaN,NaN,NaN,NaN,NaN,51610.0,2010.0,2.4,1.6,7.3,7.5,2.8,32.0,46.5,51,52.0,3.0,5.0,1779803.0,51.0,VA,Virginia,Southeast,51610,0.000000,0.0,0.000000,1.825261,0.000000,0.230572,0.779973,0.399209,1.274041,0.344740,0.000000,2.767150,0.147667,1.107731,0.507521,1.155067,0.847098,0.971016,2.257534,91898.0,419270.0,803.0,2010.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1659383,8060819,"EXECWARE, LLC",2011.0,2010.0,12699973.0,51610,G,1.0,1.0,1.0,0.0,1.0,"execware, llc",NaN,NaN,NaN,NaN,NaN,51610.0,2010.0,2.4,1.6,7.3,7.5,2.8,32.0,46.5,51,52.0,3.0,5.0,1779803.0,51.0,VA,Virginia,Southeast,51610,0.000000,0.0,0.000000,1.825261,0.000000,0.230572,0.779973,0.399209,1.274041,0.344740,0.000000,2.767150,0.147667,1.107731,0.507521,1.155067,0.847098,0.971016,2.257534,91898.0,419270.0,803.0,2010.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1659384,8105911,NORTHROP GRUMMAN SYSTEMS CORPORATION,2012.0,2010.0,12828646.0,51610,H,1.0,1.0,1.0,0.0,1.0,northrop grumman systems corporation,NaN,NaN,NaN,NaN,NaN,51610.0,2010.0,2.4,1.6,7.3,7.5,2.8,32.0,46.5,51,52.0,3.0,5.0,1779803.0,51.0,VA,Virginia,Southeast,51610,0.000000,0.0,0.000000,1.825261,0.000000,0.230572,0.779973,0.399209,1.274041,0.344740,0.000000,2.767150,0.147667,1.107731,0.507521,1.155067,0.847098,0.971016,2.257534,91898.0,419270.0,803.0,2010.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714745,NaN,"ADVENTURE PRODUCTS, INC.",NaN,2012.0,13419239.0,15009,NaN,5.0,5.0,5.0,0.0,0.0,"adventure products, inc.",NaN,NaN,NaN,NaN,NaN,15009.0,2012.0,4.2,6.0,33.7,24.6,8.2,16.2,7.2,15,31.0,4.0,9.0,1779782.0,15.0,HI,Hawaii,Far West,15009,0.000000,0.0,1.379070,0.868287,0.171008,0.399620,1.137880,1.367791,0.369520,0.248807,1.868415,0.355106,0.000000,0.727450,0.439712,0.612537,1.781590,3.292359,0.961160,498927.0,2056053.0,4343.0,2012.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1714746,8353968,"KING FAMILY KINGETICS, LLC",2013.0,2010.0,12919320.0,15009,A,2.0,2.0,2.0,0.0,1.0,"king family kingetics, llc",NaN,NaN,NaN,NaN,NaN,15009.0,2010.0,4.6,7.0,33.3,22.7,7.7,17.1,7.6,15,31.0,4.0,9.0,1779782.0,15.0,HI,Hawaii,Far West,15009,0.000000,0.0,1.367302,0.984683,0.194582,0.432979,1.202000,1.394714,0.349856,0.258421,2.045549,0.334334,0.155699,0.825059,0.460276,0.680276,1.804049,3.416506,1.009152,453422.0,1933215.0,4332.0,2010.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1714747,8719353,SEASEER RESEARCH AND DEVELOPMENT LLC,2014.0,2010.0,12807115.0,15009,G,3.0,2.0,2.0,0.0,1.0,seaseer research and development llc,NaN,NaN,NaN,NaN,NaN,15009.0,2010.0,4.6,7.0,33.3,22.7,7.7,17.1,7.6,15,31.0,4.0,9.0,1779782.0,15.0,HI,Hawaii,Far West,15009,0.000000,0.0,1.367302,0.984683,0.194582,0.432979,1.202000,1.394714,0.349856,0.258421,2.045549,0.334334,0.155699,0.825059,0.460276,0.680276,1.804049,3.416506,1.009152,453422.0,1933215.0,4332.0,2010.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1714748,NaN,SeaSeer Research and Development LLC,NaN,2010.0,12807115.0,15009,NaN,3.0,3.0,1.0,1.0,0.0,seaseer research and development llc,NaN,NaN,NaN,NaN,NaN,15009.0,2010.0,4.6,7.0,33.3,22.7,7.7,17.1,7.6,15,31.0,4.0,9.0,1779782.0,15.0,HI,Hawaii,Far West,15009,0.000000,0.0,1.367302,0.984683,0.194582,0.432979,1.202000,1.394714,0.349856,0.258421,2.045549,0.334334,0.155699,0.825059,0.460276,0.680276,1.804049,3.416506,1.009152,453422.0,1933215.0,4332.0,2010.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1714749,10398091,"MAUI GREENS, INC.",2019.0,2018.0,15948797.0,15009,A B,1.0,1.0,1.0,0.0,1.0,"maui greens, inc.",NaN,NaN,NaN,NaN,NaN,15009.0,2018.0,3.6,4.4,31.8,23.7,9.9,18.0,8.6,15,31.0,4.0,9.0,1779782.0,15.0,HI,Hawaii,Far West,15009,0.071111,0.0,1.448131,1.091185,0.154837,0.478044,1.210943,1.424565,0.368122,0.247322,1.944841,0.368181,0.102444,0.769532,0.481855,0.698334,1.913674,3.127558,0.981248,686117.0,2831617.0,4749.0,2018.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [92]:
#exploring duplicates that needed to be removed
#data_state_naic2.query("GEOID_x == '45083'")