# Joining Edudcational Attainment Data and Patents Data on geoID and app year

### Progress: 13% of patents have not joined, going to discuss with team on city/state/geo assignments for certain patents
### Need to incorporate team's decision on how to approach filtering application years with respect to the data being based on grant year

## Pulling Ed Atainment Data and Patents Data From Box

In [1]:
from boxsdk import DevelopmentClient
import pandas as pd
import dotenv
import os
from io import BytesIO

In [2]:
env_location =  'C:\\Users\\trent\\Documents\\Capstone' ##change as necessaru
os.chdir(env_location)
dotenv.load_dotenv() # register the .env file where passwords are stored

True

In [3]:
CLIENT_ID = os.getenv("box_client_id")
CLIENT_SECRET = os.getenv("box_client_secret")
# TOKEN = '' ##copy and paste from dev

In [4]:
from boxsdk import OAuth2, Client

oauth = OAuth2(
    client_id=CLIENT_ID,
    client_secret=CLIENT_SECRET,
    access_token=TOKEN,
)

box = Client(oauth)

me = box.user().get()

print('logged into Box as', me.login)

logged into Box as txc5ve@virginia.edu

In [5]:
MY_FOLDER_ID = 0
my_folder = box.folder(MY_FOLDER_ID).get()
my_folder
items = my_folder.get_items()
items
for i in items:
    print(i)

<Box Folder - 166970315293 (Patents22)>

In [6]:
edattainment_box_id = '987939965107'
edattainment_file = box.file(edattainment_box_id).get()

In [7]:
edattainment_content = box.file(edattainment_box_id).content()

In [8]:
edattainment = pd.read_csv(BytesIO(edattainment_content))

In [9]:
patents_box_id = '987961636758'
patents_file = box.file(patents_box_id).get()
patents_file
patents_content = box.file(patents_box_id).content()
patents = pd.read_csv(BytesIO(patents_content))

In [10]:
edattainment

,Unnamed: 0,GEO_ID_CLEAN,GEO_ID,NAME,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
0,1,1001,0500000US01001,"Autauga County, Alabama",2010,5.1,9.4,34.4,22.6,5.0,15.3,8.2
1,2,1003,0500000US01003,"Baldwin County, Alabama",2010,4.3,9.5,29.4,22.3,5.9,19.8,8.9
2,3,1005,0500000US01005,"Barbour County, Alabama",2010,8.5,21.0,36.1,16.6,5.2,6.9,5.7
3,4,1007,0500000US01007,"Bibb County, Alabama",2010,10.4,16.6,43.7,13.4,5.6,8.4,1.8
4,5,1009,0500000US01009,"Blount County, Alabama",2010,9.9,16.0,37.1,19.5,4.6,9.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...
106366,106399,72145,0500000US72145,"Vega Baja Municipio, Puerto Rico",2020,16.2,10.3,28.5,12.0,11.4,15.6,6.1
106367,106400,72147,0500000US72147,"Vieques Municipio, Puerto Rico",2020,19.8,9.5,45.4,2.8,9.4,7.2,5.8
106368,106401,72149,0500000US72149,"Villalba Municipio, Puerto Rico",2020,16.0,5.5,37.4,11.2,10.1,16.0,3.7
106369,106402,72151,0500000US72151,"Yabucoa Municipio, Puerto Rico",2020,17.1,11.0,25.9,16.4,12.0,15.0,2.6
106370,106403,72153,0500000US72153,"Yauco Municipio, Puerto Rico",2020,16.6,7.6,34.7,8.3,8.4,18.9,5.4

In [11]:
patents

,Unnamed: 0,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county_name,geoID,ipc_section,team_size,inventors,men_inventors,women_inventors
0,0,7472557,CARRIER CORPORATION,2009,2004,11025351,US,FARMINGTON,CT,SAN JUAN,35045,F,4,3,3,0
1,1,7472744,CARRIER CORPORATION,2009,2005,11794273,US,FARMINGTON,CT,SAN JUAN,35045,F,2,1,1,0
2,2,7475757,OTIS ELEVATOR COMPANY,2009,2003,10554131,US,FARMINGTON,CT,SAN JUAN,35045,B,2,2,1,1
3,3,7479861,OTIS ELEVATOR COMPANY,2009,2003,10552383,US,FARMINGTON,CT,SAN JUAN,35045,H,10,10,8,2
4,4,7481069,CARRIER CORPORATION,2009,2005,11191679,US,FARMINGTON,CT,SAN JUAN,35045,F,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498686,1498686,D858729,"PELLET FIRE PIT, LLC",2019,2017,29592412,US,WEBSTER CITY,IA,HAMILTON,19079,NaN,1,1,1,0
1498687,1498687,D858794,"J & J PORTABLE SANITATION PRODUCTS, LLC",2019,2018,29639264,US,CRAWFORD,GA,OGLETHORPE,13221,NaN,4,4,3,1
1498688,1498688,D861112,2 LOTT'S L.L.C.,2019,2017,29598211,US,MINNEAPOLIS,KS,OTTAWA,20143,NaN,2,2,2,0
1498689,1498689,D868611,WALKABOUT DEVELOPMENTS LLC,2019,2018,29656834,US,FAULKTON,SD,FAULK,46049,NaN,1,1,1,0
1498690,1498690,D871614,"OLIVE TREE INSPIRATIONS, LLC",2019,2018,29659318,US,GRAY,GA,JONES,13169,NaN,1,1,1,0

### Joining on geoID and year

In [12]:
edattainment_patents_join = pd.merge(patents, edattainment, left_on=['geoID', 'application_year'], right_on=['GEO_ID_CLEAN','year'], how='left')

In [15]:
edattainment_patents_join

,Unnamed: 0_x,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county_name,...,GEO_ID,NAME,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
0,0,7472557,CARRIER CORPORATION,2009,2004,11025351,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7472744,CARRIER CORPORATION,2009,2005,11794273,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,7475757,OTIS ELEVATOR COMPANY,2009,2003,10554131,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7479861,OTIS ELEVATOR COMPANY,2009,2003,10552383,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,7481069,CARRIER CORPORATION,2009,2005,11191679,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553942,1498689,D868611,WALKABOUT DEVELOPMENTS LLC,2019,2018,29656834,US,FAULKTON,SD,FAULK,...,0500000US46049,"Faulk County, South Dakota",2018.0,2.5,4.7,33.3,19.7,10.8,16.3,12.6
3553943,1498689,D868611,WALKABOUT DEVELOPMENTS LLC,2019,2018,29656834,US,FAULKTON,SD,FAULK,...,0500000US46049,"Faulk County, South Dakota",2018.0,2.5,4.7,33.3,19.7,10.8,16.3,12.6
3553944,1498690,D871614,"OLIVE TREE INSPIRATIONS, LLC",2019,2018,29659318,US,GRAY,GA,JONES,...,0500000US13169,"Jones County, Georgia",2018.0,3.2,9.5,36.7,22.3,8.3,12.3,7.7
3553945,1498690,D871614,"OLIVE TREE INSPIRATIONS, LLC",2019,2018,29659318,US,GRAY,GA,JONES,...,0500000US13169,"Jones County, Georgia",2018.0,3.2,9.5,36.7,22.3,8.3,12.3,7.7
3553946,1498690,D871614,"OLIVE TREE INSPIRATIONS, LLC",2019,2018,29659318,US,GRAY,GA,JONES,...,0500000US13169,"Jones County, Georgia",2018.0,3.2,9.5,36.7,22.3,8.3,12.3,7.7

### Some Values did not Join (13%)

In [14]:
edattainment_patents_join[edattainment_patents_join['GEO_ID_CLEAN'].isnull()]

,Unnamed: 0_x,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county_name,...,GEO_ID,NAME,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
0,0,7472557,CARRIER CORPORATION,2009,2004,11025351,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7472744,CARRIER CORPORATION,2009,2005,11794273,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,7475757,OTIS ELEVATOR COMPANY,2009,2003,10554131,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7479861,OTIS ELEVATOR COMPANY,2009,2003,10552383,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,7481069,CARRIER CORPORATION,2009,2005,11191679,US,FARMINGTON,CT,SAN JUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3552256,1498124,9091071,CAROLE CRAWFORD,2015,2007,11805778,US,RANBURNE,AL,CLEBURNE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552311,1498143,9207021,MICHAEL GIAN,2015,2009,12564018,US,GARDEN CITY,KS,FINNEY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552312,1498144,9109374,"BORDER BLOCKS LANDSCAPING ANCHORING SYSTEMS, INC.",2015,2008,12229772,US,BASTROP,LA,MOREHOUSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552667,1498263,9235334,GENESIS TECHNOLOGIES LIMITED,2016,2008,12118417,US,ARCADIA,LA,BIENVILLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552977,1498367,9445225,HUSTON FAMILY TRUST,2016,2008,12111688,US,GRANT,NE,PERKINS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
471063/3553947

0.13254643358496904