# Joining University Data and GeoID + County IDs using Location Crosswalk

### Progress: EdAttainment Needs some checks, not all joined. Also working on mapping all orgs to specific university.

## Pulling University Data, Crosswalk Data, and Patents Data (used later) From Box

In [114]:
from boxsdk import DevelopmentClient
import pandas as pd
import dotenv
import os
from io import BytesIO

In [115]:
env_location =  'C:\\Users\\trent\\Documents\\Capstone' ##change as necessaru
os.chdir(env_location)
dotenv.load_dotenv() # register the .env file where passwords are stored

True

In [116]:
CLIENT_ID = os.getenv("box_client_id")
CLIENT_SECRET = os.getenv("box_client_secret")
TOKEN = 'PyIwJRzIHaSv7kxwmzJtjT57UO9LBLvk' ##copy and paste from dev

In [117]:
from boxsdk import OAuth2, Client

oauth = OAuth2(
    client_id=CLIENT_ID,
    client_secret=CLIENT_SECRET,
    access_token=TOKEN,
)

box = Client(oauth)

me = box.user().get()

print('logged into Box as', me.login)

logged into Box as txc5ve@virginia.edu

In [118]:
MY_FOLDER_ID = 0
my_folder = box.folder(MY_FOLDER_ID).get()
my_folder
items = my_folder.get_items()
items
for i in items:
    print(i)

<Box Folder - 166970315293 (Patents22)>

In [119]:
universities_box_id = '988549931799'
universities_file = box.file(universities_box_id).get()

In [120]:
universities_content = box.file(universities_box_id).content()

In [121]:
universities = pd.read_csv(BytesIO(universities_content))

In [122]:
## crosswalk not used for join
crosswalk_box_id = '990881584176'
crosswalk_file = box.file(crosswalk_box_id).get()
crosswalk_file
crosswalk_content = box.file(crosswalk_box_id).content()
crosswalk = pd.read_csv(BytesIO(crosswalk_content))

C:\Users\trent\AppData\Local\Temp\ipykernel_7280\1472077329.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  crosswalk = pd.read_csv(BytesIO(crosswalk_content))

### Patents

In [123]:
patents_box_id = '992835605300'
patents_file = box.file(crosswalk_box_id).get()
patents_file
patents_content = box.file(patents_box_id).content()
patents = pd.read_csv(BytesIO(patents_content))

C:\Users\trent\AppData\Local\Temp\ipykernel_7280\292441299.py:5: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  patents = pd.read_csv(BytesIO(patents_content))

In [124]:
# patents_box_id = '987961636758'
# patents_file = box.file(patents_box_id).get()
# patents_file
# patents_content = box.file(patents_box_id).content()
# patents = pd.read_csv(BytesIO(patents_content))

In [125]:
universities

,Unnamed: 0,Institution,Control,City,State,level
0,0,Arizona State University Campus Immersion,Public,Tempe,AZ,r1
1,1,Auburn University,Public,Auburn,AL,r1
2,2,Baylor University,Private (non-profit),Waco,TX,r1
3,3,Binghamton University,Public,Vestal,NY,r1
4,4,Boston College,Private (non-profit),Chestnut Hill,MA,r1
...,...,...,...,...,...,...
297,18,University of Texas Health Science Center at H...,Public,Houston,TX,r3
298,19,University of Texas Health Science Center at S...,Public,San Antonio,TX,r3
299,20,University of Texas Medical Branch,Public,Galveston,TX,r3
300,21,University of Texas Southwestern Medical Center,Public,Dallas,TX,r3
301,22,Weill Cornell Medicine,Private (non-profit),New York,NY,r3

In [126]:
crosswalk.head(5)

,id,GEOID,pv_city,gl_city,pv_state,gl_state,country,pv_lat,gl_lat,pv_long,gl_long,pv_county,gl_county,pv_state_fips,pv_county_fips,gl_county_fips
0,f9139cb2-cb8f-11eb-9615-121df0c29c1e,6075,San Francisco,NaN,CA,NaN,US,37.7292,NaN,-123.0470,NaN,San Francisco,NaN,6.0,6075.0,NaN
1,ffc9f8bd-cb8e-11eb-9615-121df0c29c1e,32031,Reno,NaN,NV,NaN,US,39.5504,NaN,-119.8030,NaN,Washoe,NaN,32.0,32031.0,NaN
2,9596257a-cb90-11eb-9615-121df0c29c1e,50021,Rutland,NaN,VT,NaN,US,43.6106,NaN,-72.9726,NaN,Rutland,NaN,50.0,50021.0,NaN
3,499f8deb-cb8e-11eb-9615-121df0c29c1e,34003,Parkridge,Park Ridge,NJ,NJ,US,NaN,-74.03939,NaN,41.03379,NaN,Bergen,34.0,NaN,34003.0
4,ea59a211-09be-11ec-893a-12de62d610b1,6085,Sunnyvale,NaN,CA,NaN,US,37.3688,NaN,-122.0360,NaN,Santa Clara,NaN,6.0,6085.0,NaN

## Cleaning Data for Join on City/State

In [127]:
universities.City = universities.City.str.lower()
universities.State = universities.State.str.lower()
universities.dtypes

Unnamed: 0      int64
Institution    object
Control        object
City           object
State          object
level          object
dtype: object

In [128]:
##crosswalk ultimately not used due to the typos in city names
crosswalk.pv_city = crosswalk.pv_city.str.lower()
crosswalk.pv_state = crosswalk.pv_state.str.lower()
crosswalk.dtypes
crosswalk.query("pv_city == 'chestnut hill'")

,id,GEOID,pv_city,gl_city,pv_state,gl_state,country,pv_lat,gl_lat,pv_long,gl_long,pv_county,gl_county,pv_state_fips,pv_county_fips,gl_county_fips
2777,e297d56d-cb8e-11eb-9615-121df0c29c1e,25017,chestnut hill,Newton,ma,MA,US,42.3268,-71.17208,-71.1646,42.33295,NaN,Middlesex,25.0,NaN,25017.0

In [129]:
# patents.pv_city = patents.pv_city.str.lower()
# patents

## Joining on City and State

#### Fix Missing Cities first

In [130]:
universities['City']= universities['City'].replace('saint louis', 'st. louis')
universities['City']= universities['City'].replace('mount pleasant', 'mt. pleasant')

## this one listed wrong in wikipedia table, rio grande valley is not a city
universities['City']= universities['City'].replace('rio grande valley', 'edinburg')

### Join

In [131]:
university_geo_join = pd.merge(universities, crosswalk, left_on=['City', 'State'], right_on=['pv_city','pv_state'], how='left')

In [132]:
university_geo = university_geo_join[['Institution', 'Control', 'City', 'State', 'level', 'GEOID', 'pv_city', 'pv_state', 'pv_county']]

In [133]:
university_geo

,Institution,Control,City,State,level,GEOID,pv_city,pv_state,pv_county
0,Arizona State University Campus Immersion,Public,tempe,az,r1,4013,tempe,az,Maricopa
1,Auburn University,Public,auburn,al,r1,1081,auburn,al,Lee
2,Baylor University,Private (non-profit),waco,tx,r1,48309,waco,tx,McLennan
3,Binghamton University,Public,vestal,ny,r1,36007,vestal,ny,NaN
4,Boston College,Private (non-profit),chestnut hill,ma,r1,25017,chestnut hill,ma,NaN
...,...,...,...,...,...,...,...,...,...
308,University of Texas Health Science Center at H...,Public,houston,tx,r3,48201,houston,tx,Harris
309,University of Texas Health Science Center at S...,Public,san antonio,tx,r3,48029,san antonio,tx,Bexar
310,University of Texas Medical Branch,Public,galveston,tx,r3,48167,galveston,tx,Galveston
311,University of Texas Southwestern Medical Center,Public,dallas,tx,r3,48113,dallas,tx,Dallas
312,Weill Cornell Medicine,Private (non-profit),new york,ny,r3,36061,new york,ny,New York

### Fix row that didn't join

In [134]:
university_geo[university_geo['GEOID'].isnull()]

,Institution,Control,City,State,level,GEOID,pv_city,pv_state,pv_county
222,Prairie View A&M University,Public,prairie view,tx,r2,NaN,NaN,NaN,NaN

In [135]:
###still an issue with prairie view, not in cross walk but county;'s geoid is below

crosswalk.loc[crosswalk.pv_city.str.contains('prairie')].query("pv_county == 'tx'")

Empty DataFrame
Columns: [id, GEOID, pv_city, gl_city, pv_state, gl_state, country, pv_lat, gl_lat, pv_long, gl_long, pv_county, gl_county, pv_state_fips, pv_county_fips, gl_county_fips]
Index: []

In [136]:
crosswalk.query("pv_county == 'Waller'")

,id,GEOID,pv_city,gl_city,pv_state,gl_state,country,pv_lat,gl_lat,pv_long,gl_long,pv_county,gl_county,pv_state_fips,pv_county_fips,gl_county_fips
1565,3d3f18f9-cb8e-11eb-9615-121df0c29c1e,48473,waller,NaN,tx,NaN,US,30.0602,NaN,-95.9256,NaN,Waller,NaN,48.0,48473.0,NaN
2502,b41951e7-09bc-11ec-893a-12de62d610b1,48473,hempstead,NaN,tx,NaN,US,30.1053,NaN,-96.0805,NaN,Waller,NaN,48.0,48473.0,NaN
10167,449aac0c-cb8e-11eb-9615-121df0c29c1e,48473,brookshire,NaN,tx,NaN,US,29.7793,NaN,-95.9540,NaN,Waller,NaN,48.0,48473.0,NaN
18058,83e12478-cb8e-11eb-9615-121df0c29c1e,48473,pattison,NaN,tx,NaN,US,29.8213,NaN,-95.9859,NaN,Waller,NaN,48.0,48473.0,NaN

In [137]:
# university_geo = university_geo[
    
university_geo.GEOID.fillna("48473", inplace = True)
university_geo.query("City == 'prairie view'")

C:\Users\trent\AppData\Local\Temp\ipykernel_7280\2182127261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  university_geo.GEOID.fillna("48473", inplace = True)

,Institution,Control,City,State,level,GEOID,pv_city,pv_state,pv_county
222,Prairie View A&M University,Public,prairie view,tx,r2,48473,NaN,NaN,NaN

In [138]:
university_geo.query("City == 'prairie view'")

,Institution,Control,City,State,level,GEOID,pv_city,pv_state,pv_county
222,Prairie View A&M University,Public,prairie view,tx,r2,48473,NaN,NaN,NaN

In [139]:
university_geo[university_geo['GEOID'].isnull()]

Empty DataFrame
Columns: [Institution, Control, City, State, level, GEOID, pv_city, pv_state, pv_county]
Index: []

In [140]:
# university_geo.loc[university_geo.GEOID.str.contains('_')]

### Group GEOIDS and get university count
#### First need to one hot encode to get a numerical count for each level

In [141]:
def one_hot_encode(df, col):
    one_hot = pd.get_dummies(df[col])
    one_hot.columns = [col + '_' + str(x) for x in one_hot.columns]
    
#     df = df.drop(col, axis=1)
    df = df.join(one_hot)
    
    return df

In [142]:
university_geo_levels = one_hot_encode(university_geo, 'level')

In [143]:
university_geo_levels.Institution.value_counts()

##Some schools are repatings!! need to drop oates

Georgia State University                   2
University of Minnesota                    2
California State University, Long Beach    2
University of Delaware                     2
San Francisco State University             2
                                          ..
University of Miami                        1
University of Memphis                      1
University of Massachusetts Amherst        1
University of Maryland, College Park       1
Weill Cornell Medicine                     1
Name: Institution, Length: 302, dtype: int64

In [144]:
university_geo_levels.drop_duplicates(inplace = True)
university_geo_levels = university_geo_levels.reset_index().drop('index', axis =1)

In [145]:
geoids_universities = university_geo_levels.groupby(['GEOID']).agg({'level_r1':'sum','level_r2':'sum','level_r3':'sum'})

In [146]:
geoids_universities

       level_r1  level_r2  level_r3
GEOID
1073          1         0         0
1081          1         0         0
1089          1         0         0
1097          0         1         0
1125          1         0         0
...         ...       ...       ...
55079         1         1         1
56001         0         1         0
72127         0         1         0
48473         0         1         0
_             0         1         1

[217 rows x 3 columns]

In [147]:
geoids_universities.level_r1.value_counts()

1    112
0     92
2      7
3      5
5      1
Name: level_r1, dtype: int64

In [148]:
# university_geo.to_csv('test_uni.csv')

In [149]:
geoids_universities.to_csv('geoids_university_count.csv')

# Map Universities to Organizations

In [150]:
university_geo_levels.head(5)
##ASU has extra text on it from wikipedia that needs to be fixed below
university_geo_levels = university_geo_levels.replace('Arizona State University Campus Immersion', 'Arizona State University')
university_geo_levels['Institution'] = university_geo_levels['Institution'].str.lower()
university_geo_levels.head(5)
university_geo_levels.level.value_counts()

r1    146
r2    134
r3     24
Name: level, dtype: int64

In [151]:
university_geo_levels

,Institution,Control,City,State,level,GEOID,pv_city,pv_state,pv_county,level_r1,level_r2,level_r3
0,arizona state university,Public,tempe,az,r1,4013,tempe,az,Maricopa,1,0,0
1,auburn university,Public,auburn,al,r1,1081,auburn,al,Lee,1,0,0
2,baylor university,Private (non-profit),waco,tx,r1,48309,waco,tx,McLennan,1,0,0
3,binghamton university,Public,vestal,ny,r1,36007,vestal,ny,NaN,1,0,0
4,boston college,Private (non-profit),chestnut hill,ma,r1,25017,chestnut hill,ma,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
299,university of texas health science center at h...,Public,houston,tx,r3,48201,houston,tx,Harris,0,0,1
300,university of texas health science center at s...,Public,san antonio,tx,r3,48029,san antonio,tx,Bexar,0,0,1
301,university of texas medical branch,Public,galveston,tx,r3,48167,galveston,tx,Galveston,0,0,1
302,university of texas southwestern medical center,Public,dallas,tx,r3,48113,dallas,tx,Dallas,0,0,1
303,weill cornell medicine,Private (non-profit),new york,ny,r3,36061,new york,ny,New York,0,0,1

### Attemping Fuzzy Join with Organizations

In [152]:
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

#### will get pairs for each university to start, first Need to reduce options for FuzzyJoin to make it computationally feasible, 
need to try to whittle down data to only organizations that have a chance of being a university

In [153]:
organizations = patents.assignee.unique()

In [154]:
institutions = university_geo_levels.Institution.unique()
institution_token = [sub.split() for sub in institutions]
token = [item for sub in institution_token for item in sub]
# token

In [155]:
# institution_token = str(institution_token)

tokens = []

for i in token:
    if i not in tokens:
        tokens.append(i)

# institution_tokens = set(institution_token)
# institution_tokens

for i in tokens:
    if len(i) < 3:
        tokens.remove(i)
tokens.remove('the')
tokens.remove('for')
tokens.remove('engineering')
tokens.remove('new')
tokens.remove('services')
tokens.remove('technology')
tokens.remove('old')
tokens.remove('county')
tokens.remove('park')
tokens.remove('management')
tokens.remove('t')
tokens.remove('and')
tokens.remove('jersey')
tokens.remove('york')
tokens.remove('north')
tokens.remove('south')
tokens.remove('west')
tokens.remove('east')
tokens.remove('southern')
tokens.remove('northern')
tokens.remove('southeastern')
tokens.remove('western')
tokens.remove('eastern')
tokens.remove('hall')
tokens.remove('sciences')
tokens.remove('american')
tokens.remove('health')
tokens.remove('center')
tokens.remove('branch')
tokens.remove('science')
tokens.remove('force')
tokens.remove('digital')
tokens.remove('las')
tokens.remove('international')
tokens.remove('los')
# tokens

In [156]:
##organizations that contain university keywords (being conservative here)
assignee_df_orgs = patents.dropna(subset = ['assignee'])
assignee_df_orgs
assignee_df_orgs_filt = assignee_df_orgs.loc[assignee_df_orgs.assignee.str.lower().str.contains('|'.join(tokens))]
assignee_df_orgs_filt

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted
17,7482823,"CASCADE MICROTECH, INC.",2009.0,2007,11977282,41067,G,8,8,8.0,0.0,1
22,7489148,"ADVANCED INQUIRY SYSTEMS, INC.",2009.0,2007,11881574,41067,G,1,1,1.0,0.0,1
23,7489149,"CASCADE MICROTECH, INC.",2009.0,2007,11977280,41067,G,8,8,8.0,0.0,1
25,7489595,"ICON TIME SYSTEMS, INC.",2009.0,2007,11849031,41067,G,2,2,2.0,0.0,1
29,7492147,"CASCADE MICROTECH, INC.",2009.0,2007,11881571,41067,G,5,5,5.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2256080,NaN,"FORD GLOBAL TECHNOLOGIES, LLC",NaN,2019,16424724,26163,NaN,5,5,5.0,0.0,0
2256082,NaN,"FORD GLOBAL TECHNOLOGIES, LLC",NaN,2019,16424730,26163,NaN,2,2,2.0,0.0,0
2256086,NaN,Johnson Controls Technology Company,NaN,2019,16424821,26125,NaN,2,2,2.0,0.0,0
2256087,NaN,"FORD GLOBAL TECHNOLOGIES, LLC",NaN,2019,16424824,26163,NaN,5,5,5.0,0.0,0
2256090,NaN,King City Nursery LLC,NaN,2019,16424866,6053,NaN,1,1,1.0,0.0,0

In [157]:
##this is where we really whittle down the list, get rid of corporations
assignee_df_orgs_filt = assignee_df_orgs_filt[~assignee_df_orgs_filt['assignee']
                                                                      .str.lower().str.contains('llc|ltd|corporation|bank|inc.|corp|company|llp')]
assignee_df_orgs_filt

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted
60,7503844,WASHINGTON COUNTY,2009.0,2006,11433202,41067,F,1,1,1.0,0.0,1
95,7516924,COMPVIEW MEDICAL,2009.0,2005,11093075,41067,A,2,2,2.0,0.0,1
318,7618353,BCI (BIOCHIP INNOVATIONS),2009.0,2007,11805034,41067,A,2,2,1.0,1.0,1
455,7644898,COMPVIEW MEDICAL,2010.0,2007,11686090,41067,F,3,3,3.0,0.0,1
641,7731425,STANDARD MULTIWALL BAG MANUFACTURING CO.,2010.0,2006,11454168,41067,B,2,2,2.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2256027,NaN,Wisconsin Alumni Research Foundation,NaN,2019,16424436,55025,NaN,2,2,2.0,0.0,0
2256037,NaN,The Board of Trustees of the University of Ill...,NaN,2019,16424240,17019,NaN,4,4,2.0,2.0,0
2256052,NaN,The Rockefeller University,NaN,2019,16424639,36061,NaN,2,2,2.0,0.0,0
2256065,NaN,CLEARSTREAM TECHNOLOGIES LIMITED,NaN,2019,16424977,37119,NaN,6,6,5.0,1.0,0
2256067,NaN,Trustees of Tufts College,NaN,2019,16424989,25017,NaN,3,3,3.0,0.0,0

In [158]:
orgs = assignee_df_orgs_filt.assignee.str.lower().unique()
len(orgs)

8454

In [159]:
##universities are now paried to listings in the organization data, stopping point...
matches = university_geo_levels.Institution.apply(lambda x: (process.extract(x, orgs, limit=10, scorer = fuzz.token_set_ratio),x))

In [160]:
university_matches = pd.DataFrame.from_dict(matches)

In [163]:
matches

0      ([(university, 100), (arizona board of regents...
1      ([(auburn university, 100), (university, 100),...
2      ([(baylor college of medicine william marsh ri...
3      ([(university, 100), (the research foundation ...
4      ([(trustees of boston college, 100), (trustee ...
                             ...
299    ([(university of houston, 100), (university, 1...
300    ([(university of texas at san antonio, 100), (...
301    ([(university, 100), (the university of texas ...
302    ([(texas medical center, 100), (university, 10...
303    ([(weill medical college of cornell university...
Name: Institution, Length: 304, dtype: object

In [173]:
# print(matches[0][1])
# print(matches[0][1])
matches[21]
dict = {}

for i in range(0,len(matches)):
    for x in range(0,10):
        if matches[i][0][x][1] > 95:
            v = matches[i][1]
            k = matches[i][0][x][0]
            dict[k] = v

In [174]:
dict

{'university': 'university of texas southwestern medical center',
 'arizona board of regents on behalf of arizona state university': 'university of arizona',
 'arizona board of regents for and on behalf of arizone state university': 'university of arizona',
 'arizona state university, ira a. fulton schools of engineering': 'university of arizona',
 'arizona board of regents of behalf of arizona state university': 'university of arizona',
 'arizon board of regents acting for and on behalf arizona state university': 'arizona state university',
 'arizona board of regents for and on behalf of arizaona state university': 'arizona state university',
 'auburn university': 'auburn university',
 'auburn university office of technology transfer': 'auburn university',
 'university of auburn at montgomery': 'auburn university',
 'auburn university office of innovation advancement and commercialization': 'auburn university',
 'baylor college of medicine william marsh rice university': 'baylor college of medicine',
 'baylor university': 'baylor university',
 'baylor universwity': 'baylor university',
 'the research foundation of state university of new york research development services, binghamton university': 'binghamton university',
 'trustees of boston college': 'boston college',
 'trustee of boston college': 'boston college',
 'boston college office of technology transfer and licensing': 'boston college',
 'trustees of boston university': 'boston university',
 'trustee of boston university': 'boston university',
 'boston university school of medicine': 'boston university',
 'brandeis university': 'brandeis university',
 'brown university': 'brown university',
 'brown university, brown technology partnerships': 'brown university',
 'california institute of technology': 'california institute of technology',
 'california institute of technology in pasadena': 'california institute of technology',
 'california institute of technology, office of technology transfer': 'california institute of technology',
 'california insitute of technology': 'california institute of technology',
 'california institue of technology': 'california institute of technology',
 'california instistute of technology': 'california institute of technology',
 'californaia institute of technology': 'california institute of technology',
 'california instutute of technology': 'california institute of technology',
 'california instute of technology': 'california institute of technology',
 'califronia institute of technology': 'california institute of technology',
 'carnegie mellon university': 'carnegie mellon university',
 'carnegie mellon university and university of pittsburgh—of the commonwealth system of higher education': 'university of pittsburgh',
 'carnegie mellon university, center for technology transfer and enterprise creation': 'carnegie mellon university',
 'carnegie mellon university, cttec': 'carnegie mellon university',
 'carnegie melon university': 'carnegie mellon university',
 'carne gie mellon university': 'carnegie mellon university',
 'carnegie mellion university': 'carnegie mellon university',
 'carnagie mellon university': 'carnegie mellon university',
 'carnegie mellan university': 'carnegie mellon university',
 'university hospitals of cleveland case western reserve university': 'case western reserve university',
 'case western reserve university': 'case western reserve university',
 'case western university': 'case western reserve university',
 'the cleveland clinic foundation and case western reserve university': 'case western reserve university',
 'case wetern reserve university': 'case western reserve university',
 'case western resrve university': 'case western reserve university',
 'case western reserved university': 'case western reserve university',
 'case western reserve univesity': 'case western reserve university',
 'clemson university': 'clemson university',
 'clemson university research foundation': 'clemson university',
 'clemson univesity': 'clemson university',
 'colorado school of mines': 'colorado school of mines',
 'colorado state university research foundation': 'colorado state university',
 'colorado state university research university': 'colorado state university',
 'colorado state university research foundation technology transfer': 'colorado state university',
 'the trustees of columbia university in the city of new york': 'new york university',
 'the trustess of columbia university in the city of new york': 'new york university',
 'the trustees of columbia university in the city of new york memorial sloan-kettering cancer center': 'new york university',
 'university of missouri-columbia': 'university of missouri',
 'the trustees of columbia university inthe city of new york': 'columbia university',
 'thetrustees of columbia university in the city of new york': 'columbia university',
 'the tustees of columbia university in the city of new york': 'columbia university',
 'cornell university': 'cornell university',
 'center for technology licensing at cornell university': 'cornell university',
 'cornell university—cornell center for technology': 'cornell university',
 'weill medical college of cornell university': 'cornell university',
 'cornell university - cornell center for technology enterprise & commercialzation (cctec)': 'cornell university',
 'cornell universiy': 'cornell university',
 'cornel university': 'cornell university',
 'cornell univerrsity': 'cornell university',
 'conrnell university': 'cornell university',
 'the trustees of dartmouth college': 'dartmouth college',
 'the trustess of dartmouth college': 'dartmouth college',
 'trustees of dartmouth college': 'dartmouth college',
 'dartmounth college': 'dartmouth college',
 'drexel university': 'drexel university',
 'drexel univerisity': 'drexel university',
 'duke university': 'duke university',
 'duke university medical center': 'duke university',
 'duke university office of technology & venture': 'duke university',
 'duke univerity': 'duke university',
 'duke uniersity': 'duke university',
 'duke universiy': 'duke university',
 'emory university': 'emory university',
 'emory university school of medicine': 'emory university',
 'emory university office of technology transfer': 'emory university',
 'emoery university': 'emory university',
 'emory univesity': 'emory university',
 'the florida international university board of trustees': 'university of florida',
 'the florida international university': 'florida international university',
 'the florida international university board of trustess': 'university of florida',
 'florida international': 'florida international university',
 'the florida international university board of trus tees': 'florida international university',
 'florida state university technology transfer office': 'florida state university',
 'university of central florida, state university of the state of florida': 'university of florida',
 'partial assignment by aravinda kar to university of central florida, state university of the': 'university of central florida',
 'george mason university': 'george mason university',
 'the george washington university': 'george washington university',
 'the george washington university and board of regents': 'university of washington',
 'washington university': 'washington university in st. louis',
 'george warshington university': 'george washington university',
 'georgetown university': 'georgetown university',
 'georgetown university school of medicine': 'georgetown university',
 'georgetown university, a congressionally chartered institution of higher education': 'georgetown university',
 'georgia institute of technology': 'georgia institute of technology',
 'university system of georgia, valdosta state university': 'university of georgia',
 'harvard university': 'harvard university',
 'medical research council harvard university': 'harvard university',
 'harvard university & medical school': 'harvard university',
 'the johns hopkins university': 'johns hopkins university',
 'the johns hopkins university school of medicine': 'johns hopkins university',
 'the johns hopkins university c/o john hopkins technology transfer': 'johns hopkins university',
 'johns hopkins univesity': 'johns hopkins university',
 'kansas state university research foundation': 'kansas state university',
 'kansas state university institute for commercialization': 'kansas state university',
 'arkansas state university': 'arkansas state university',
 'kent state university': 'kent state university',
 'board of supervisors of louisiana state university and agricultural and mechanical college': 'louisiana state university',
 'louisiana state university health sciences center office of research': 'louisiana state university',
 'louisiana state university': 'louisiana state university',
 'board of supervisors of louisiana state university and agricultural and mechchanical college': 'louisiana state university',
 'louisiana state university agricultural center': 'louisiana state university',
 'louisiana state university agricultural and mechanical college': 'louisiana state university',
 'for the board of supervisors of louisiana state university and agricultural and mechanical college acting on behalf of louisiana state university health sciences center at shreveport': 'louisiana state university',
 'board of supervisors of louisiana state university acting on behalf of the university of louisiana at monroe': 'louisiana state university',
 'board of supervisors of louisiana state university and agricultural and mechinical college': 'louisiana state university',
 'massachusetts institute of technology': 'massachusetts institute of technology',
 'the penn state research foundation massachusetts institute of technology': 'massachusetts institute of technology',
 'massachusetts intstitute of technology': 'massachusetts institute of technology',
 'massachuesetts institute of technology': 'massachusetts institute of technology',
 'massachussetts institute of technology': 'massachusetts institute of technology',
 'massachusetts intitute of technology': 'massachusetts institute of technology',
 'massachusetts institute of technologoy': 'massachusetts institute of technology',
 'massachusetts institue of technology': 'massachusetts institute of technology',
 'massachusetts institute oftechnology': 'massachusetts institute of technology',
 'massachusettts institute of technology': 'massachusetts institute of technology',
 'the board of regents of the michigan state university': 'university of michigan',
 'board of trustees of michigan state university': 'university of michigan',
 'board of trustees operation michigan state university': 'university of michigan',
 'board of trustees of michigan state university fraunhofer usa': 'university of michigan',
 'board of directors of michigan state university': 'michigan state university',
 'mississipi state university': 'mississippi state university',
 'montana state university': 'montana state university',
 'montana state university-bozeman': 'montana state university',
 'montana state university—billings': 'montana state university',
 'montana state univesity': 'montana state university',
 'montana state universtiy': 'montana state university',
 'new jersey institute of technology': 'new jersey institute of technology',
 'new jersy institute of technology': 'new jersey institute of technology',
 'new jersey institute of technoloty': 'new jersey institute of technology',
 'new york university': 'new york university',
 'the research foundation for the state university of new york': 'new york university',
 'the trustees of carolina university in the city of new york': 'new york university',
 'new york university medical center': 'new york university',
 'new york university school of medicine': 'new york university',
 'polytechnic institute of new york university': 'new york university',
 'new york university langone medical': 'new york university',
 'north carolina agricultural and technical state university': 'north carolina state university',
 'north carolina state university,  a constituent in': 'north carolina a & t state university',
 'north carolina state university office of technology transfer': 'north carolina state university',
 'the wistar institute and north carolina state university': 'north carolina state university',
 'north carlina state university': 'north carolina state university',
 'north caroliina state university': 'north carolina state university',
 'north carlolina state university': 'north carolina state university',
 'north caroline state university': 'north carolina state university',
 'north carolina state universtiy': 'north carolina state university',
 'north dakota state university': 'north dakota state university',
 'northeastern university': 'northwestern university',
 'northeastern uiversity': 'northeastern university',
 'northeasern university': 'northeastern university',
 'northwestern university': 'northwestern university',
 'northwester university': 'northwestern university',
 'northwestern univerity': 'northwestern university',
 'northewestern university': 'northwestern university',
 'northwestern universtiy': 'northwestern university',
 'northwestern univeristy': 'northwestern university',
 'ohio university': 'ohio university',
 'the ohio state university research founddation': 'ohio university',
 'medical university of ohio': 'ohio university',
 'ohio northern university': 'ohio university',
 'ohio university offices of innovation center and t': 'ohio university',
 'the ohio sate university research foundation': 'ohio university',
 'northeast ohio medical university': 'ohio university',
 'old dominion university research foundation': 'old dominion university',
 'state of oregon by and through the state board of higher education on behalf of porland state university': 'university of oregon',
 'the state of oregon acting by and through the state board of higher education, oregon state university': 'university of oregon',
 'the state of oregon, acting by & through the state board of higher education, orgeon state university': 'university of oregon',
 'oregon state university office of technology transfer': 'university of oregon',
 'oregeon state university': 'oregon state university',
 'west chester university of pennsylvania of the state system of higher education': 'west chester university of pennsylvania',
 'the penn state research foundation intellectual property offie, the pennsylvania state university': 'pennsylvania state university',
 'purdue university': 'indiana university – purdue university indianapolis',
 'purdue research foundation regents of the university of california': 'purdue university',
 'rensselaer polytechnic institute': 'rensselaer polytechnic institute',
 'renesselaer polytechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polytechic institute': 'rensselaer polytechnic institute',
 'rennsselaer polytechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polyechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polytechnic institue': 'rensselaer polytechnic institute',
 'renssealer polytechnic institute': 'rensselaer polytechnic institute',
 'rennselaer polytechnic institute': 'rensselaer polytechnic institute',
 'william marsh rice university': 'rice university',
 'rice university': 'rice university',
 'wm. marsh rice university': 'rice university',
 'william march rice university': 'rice university',
 'willam marsh rice university': 'rice university',
 'william marsch rice university': 'rice university',
 'rutgers university': 'rutgers university–newark',
 'the board of trustees of the leland stanford junior university': 'stanford university',
 'the board of regents of the leland stanford junior university': 'stanford university',
 'the board of trustees of the lelland stanford junior university': 'stanford university',
 'the board of trustee of the leland stanford juinior university': 'stanford university',
 'the board of trustees of the laland stanford junior university': 'stanford university',
 'the board of directors of the leland stanford, jr. university': 'stanford university',
 'the board of trustees of the lenand stanford junior university': 'stanford university',
 'the board of trustees of the lenard stanford junior university': 'stanford university',
 'the board of trustess of the leland stanford junior university': 'stanford university',
 'the board of trustees of the lealand stanford junior university': 'stanford university',
 'state university of new york stony brook': 'stony brook university',
 'stony brook university': 'stony brook university',
 'syracuse university': 'syracuse university',
 'syracuse university technology transfer and industrial development office': 'syracuse university',
 'temple university-of the commonwealth system of higher education': 'temple university',
 'temple university—of the commonwealth system of higher education': 'temple university',
 'temple university': 'temple university',
 'temple university school of medicine': 'temple university',
 'temple university—of the commonwelth system of higher education': 'temple university',
 'temple university -of the common-': 'temple university',
 'temple university office of technology transfer': 'temple university',
 'temple university of the commomwealth system of higher eduacation': 'temple university',
 'temple university of the commonwealth of higher education office of technology transfer': 'temple university',
 'the texas a&m university system office of technology commercialization': 'texas a&m university',
 'the texas a&m university': 'texas a&m university',
 'the texas a&m university system 3369 tamu': 'texas a&m university',
 'the texas a&m university system': 'texas a&m university',
 'the texas a&m university system agency state of texas': 'texas state university',
 'texas tech university system': 'texas tech university',
 'texas tech university system office of technology transfer and intellectual property': 'texas tech university',
 'tufts university': 'tufts university',
 'tulane university health sciences center': 'tulane university',
 'tulane university': 'tulane university',
 'the research foundation for the state university of new york stor - university at buffalo': 'university at buffalo',
 'board of trustees of the university of alabama, for and on behalf of the university of alabama in': 'university of alabama',
 'the university of alabama at birmingham research foundation': 'university of alabama at birmingham',
 'uab research foundation, university of alabama—birmingham': 'university of alabama at birmingham',
 'board of trustees of the university of alabama, for and on behalf of the university of alabama in huntsville': 'university of alabama in huntsville',
 'the board of trustees of the university of alabama': 'university of alabama',
 'the board of trustees of the university of alabama, for and on behalf of the university of alabamaiin huntsville': 'university of alabama in huntsville',
 'the board of trustees of the university of alabama for and on behalf of its component institution, the university of alabama': 'university of alabama',
 'university of south alabama': 'university of south alabama',
 'board of trustees of the university of alabama, ...': 'university of alabama',
 'arizona board of regents acting for and on behalf of northern arizona university': 'northern arizona university',
 'the arizona boad of regents on behfl of the university of arizona': 'university of arizona',
 'university of arizona office of technology transfer': 'university of arizona',
 'the arizona board of regents, the university of arizone': 'university of arizona',
 'the university of arizona, tech transfer arizona': 'university of arizona',
 'the board of trustees of the university of arkansas': 'university of arkansas',

In [175]:
del dict['university']
university_dict = dict

In [176]:
##need to go through these and make sure they look good

university_dict

{'arizona board of regents on behalf of arizona state university': 'university of arizona',
 'arizona board of regents for and on behalf of arizone state university': 'university of arizona',
 'arizona state university, ira a. fulton schools of engineering': 'university of arizona',
 'arizona board of regents of behalf of arizona state university': 'university of arizona',
 'arizon board of regents acting for and on behalf arizona state university': 'arizona state university',
 'arizona board of regents for and on behalf of arizaona state university': 'arizona state university',
 'auburn university': 'auburn university',
 'auburn university office of technology transfer': 'auburn university',
 'university of auburn at montgomery': 'auburn university',
 'auburn university office of innovation advancement and commercialization': 'auburn university',
 'baylor college of medicine william marsh rice university': 'baylor college of medicine',
 'baylor university': 'baylor university',
 'baylor universwity': 'baylor university',
 'the research foundation of state university of new york research development services, binghamton university': 'binghamton university',
 'trustees of boston college': 'boston college',
 'trustee of boston college': 'boston college',
 'boston college office of technology transfer and licensing': 'boston college',
 'trustees of boston university': 'boston university',
 'trustee of boston university': 'boston university',
 'boston university school of medicine': 'boston university',
 'brandeis university': 'brandeis university',
 'brown university': 'brown university',
 'brown university, brown technology partnerships': 'brown university',
 'california institute of technology': 'california institute of technology',
 'california institute of technology in pasadena': 'california institute of technology',
 'california institute of technology, office of technology transfer': 'california institute of technology',
 'california insitute of technology': 'california institute of technology',
 'california institue of technology': 'california institute of technology',
 'california instistute of technology': 'california institute of technology',
 'californaia institute of technology': 'california institute of technology',
 'california instutute of technology': 'california institute of technology',
 'california instute of technology': 'california institute of technology',
 'califronia institute of technology': 'california institute of technology',
 'carnegie mellon university': 'carnegie mellon university',
 'carnegie mellon university and university of pittsburgh—of the commonwealth system of higher education': 'university of pittsburgh',
 'carnegie mellon university, center for technology transfer and enterprise creation': 'carnegie mellon university',
 'carnegie mellon university, cttec': 'carnegie mellon university',
 'carnegie melon university': 'carnegie mellon university',
 'carne gie mellon university': 'carnegie mellon university',
 'carnegie mellion university': 'carnegie mellon university',
 'carnagie mellon university': 'carnegie mellon university',
 'carnegie mellan university': 'carnegie mellon university',
 'university hospitals of cleveland case western reserve university': 'case western reserve university',
 'case western reserve university': 'case western reserve university',
 'case western university': 'case western reserve university',
 'the cleveland clinic foundation and case western reserve university': 'case western reserve university',
 'case wetern reserve university': 'case western reserve university',
 'case western resrve university': 'case western reserve university',
 'case western reserved university': 'case western reserve university',
 'case western reserve univesity': 'case western reserve university',
 'clemson university': 'clemson university',
 'clemson university research foundation': 'clemson university',
 'clemson univesity': 'clemson university',
 'colorado school of mines': 'colorado school of mines',
 'colorado state university research foundation': 'colorado state university',
 'colorado state university research university': 'colorado state university',
 'colorado state university research foundation technology transfer': 'colorado state university',
 'the trustees of columbia university in the city of new york': 'new york university',
 'the trustess of columbia university in the city of new york': 'new york university',
 'the trustees of columbia university in the city of new york memorial sloan-kettering cancer center': 'new york university',
 'university of missouri-columbia': 'university of missouri',
 'the trustees of columbia university inthe city of new york': 'columbia university',
 'thetrustees of columbia university in the city of new york': 'columbia university',
 'the tustees of columbia university in the city of new york': 'columbia university',
 'cornell university': 'cornell university',
 'center for technology licensing at cornell university': 'cornell university',
 'cornell university—cornell center for technology': 'cornell university',
 'weill medical college of cornell university': 'cornell university',
 'cornell university - cornell center for technology enterprise & commercialzation (cctec)': 'cornell university',
 'cornell universiy': 'cornell university',
 'cornel university': 'cornell university',
 'cornell univerrsity': 'cornell university',
 'conrnell university': 'cornell university',
 'the trustees of dartmouth college': 'dartmouth college',
 'the trustess of dartmouth college': 'dartmouth college',
 'trustees of dartmouth college': 'dartmouth college',
 'dartmounth college': 'dartmouth college',
 'drexel university': 'drexel university',
 'drexel univerisity': 'drexel university',
 'duke university': 'duke university',
 'duke university medical center': 'duke university',
 'duke university office of technology & venture': 'duke university',
 'duke univerity': 'duke university',
 'duke uniersity': 'duke university',
 'duke universiy': 'duke university',
 'emory university': 'emory university',
 'emory university school of medicine': 'emory university',
 'emory university office of technology transfer': 'emory university',
 'emoery university': 'emory university',
 'emory univesity': 'emory university',
 'the florida international university board of trustees': 'university of florida',
 'the florida international university': 'florida international university',
 'the florida international university board of trustess': 'university of florida',
 'florida international': 'florida international university',
 'the florida international university board of trus tees': 'florida international university',
 'florida state university technology transfer office': 'florida state university',
 'university of central florida, state university of the state of florida': 'university of florida',
 'partial assignment by aravinda kar to university of central florida, state university of the': 'university of central florida',
 'george mason university': 'george mason university',
 'the george washington university': 'george washington university',
 'the george washington university and board of regents': 'university of washington',
 'washington university': 'washington university in st. louis',
 'george warshington university': 'george washington university',
 'georgetown university': 'georgetown university',
 'georgetown university school of medicine': 'georgetown university',
 'georgetown university, a congressionally chartered institution of higher education': 'georgetown university',
 'georgia institute of technology': 'georgia institute of technology',
 'university system of georgia, valdosta state university': 'university of georgia',
 'harvard university': 'harvard university',
 'medical research council harvard university': 'harvard university',
 'harvard university & medical school': 'harvard university',
 'the johns hopkins university': 'johns hopkins university',
 'the johns hopkins university school of medicine': 'johns hopkins university',
 'the johns hopkins university c/o john hopkins technology transfer': 'johns hopkins university',
 'johns hopkins univesity': 'johns hopkins university',
 'kansas state university research foundation': 'kansas state university',
 'kansas state university institute for commercialization': 'kansas state university',
 'arkansas state university': 'arkansas state university',
 'kent state university': 'kent state university',
 'board of supervisors of louisiana state university and agricultural and mechanical college': 'louisiana state university',
 'louisiana state university health sciences center office of research': 'louisiana state university',
 'louisiana state university': 'louisiana state university',
 'board of supervisors of louisiana state university and agricultural and mechchanical college': 'louisiana state university',
 'louisiana state university agricultural center': 'louisiana state university',
 'louisiana state university agricultural and mechanical college': 'louisiana state university',
 'for the board of supervisors of louisiana state university and agricultural and mechanical college acting on behalf of louisiana state university health sciences center at shreveport': 'louisiana state university',
 'board of supervisors of louisiana state university acting on behalf of the university of louisiana at monroe': 'louisiana state university',
 'board of supervisors of louisiana state university and agricultural and mechinical college': 'louisiana state university',
 'massachusetts institute of technology': 'massachusetts institute of technology',
 'the penn state research foundation massachusetts institute of technology': 'massachusetts institute of technology',
 'massachusetts intstitute of technology': 'massachusetts institute of technology',
 'massachuesetts institute of technology': 'massachusetts institute of technology',
 'massachussetts institute of technology': 'massachusetts institute of technology',
 'massachusetts intitute of technology': 'massachusetts institute of technology',
 'massachusetts institute of technologoy': 'massachusetts institute of technology',
 'massachusetts institue of technology': 'massachusetts institute of technology',
 'massachusetts institute oftechnology': 'massachusetts institute of technology',
 'massachusettts institute of technology': 'massachusetts institute of technology',
 'the board of regents of the michigan state university': 'university of michigan',
 'board of trustees of michigan state university': 'university of michigan',
 'board of trustees operation michigan state university': 'university of michigan',
 'board of trustees of michigan state university fraunhofer usa': 'university of michigan',
 'board of directors of michigan state university': 'michigan state university',
 'mississipi state university': 'mississippi state university',
 'montana state university': 'montana state university',
 'montana state university-bozeman': 'montana state university',
 'montana state university—billings': 'montana state university',
 'montana state univesity': 'montana state university',
 'montana state universtiy': 'montana state university',
 'new jersey institute of technology': 'new jersey institute of technology',
 'new jersy institute of technology': 'new jersey institute of technology',
 'new jersey institute of technoloty': 'new jersey institute of technology',
 'new york university': 'new york university',
 'the research foundation for the state university of new york': 'new york university',
 'the trustees of carolina university in the city of new york': 'new york university',
 'new york university medical center': 'new york university',
 'new york university school of medicine': 'new york university',
 'polytechnic institute of new york university': 'new york university',
 'new york university langone medical': 'new york university',
 'north carolina agricultural and technical state university': 'north carolina state university',
 'north carolina state university,  a constituent in': 'north carolina a & t state university',
 'north carolina state university office of technology transfer': 'north carolina state university',
 'the wistar institute and north carolina state university': 'north carolina state university',
 'north carlina state university': 'north carolina state university',
 'north caroliina state university': 'north carolina state university',
 'north carlolina state university': 'north carolina state university',
 'north caroline state university': 'north carolina state university',
 'north carolina state universtiy': 'north carolina state university',
 'north dakota state university': 'north dakota state university',
 'northeastern university': 'northwestern university',
 'northeastern uiversity': 'northeastern university',
 'northeasern university': 'northeastern university',
 'northwestern university': 'northwestern university',
 'northwester university': 'northwestern university',
 'northwestern univerity': 'northwestern university',
 'northewestern university': 'northwestern university',
 'northwestern universtiy': 'northwestern university',
 'northwestern univeristy': 'northwestern university',
 'ohio university': 'ohio university',
 'the ohio state university research founddation': 'ohio university',
 'medical university of ohio': 'ohio university',
 'ohio northern university': 'ohio university',
 'ohio university offices of innovation center and t': 'ohio university',
 'the ohio sate university research foundation': 'ohio university',
 'northeast ohio medical university': 'ohio university',
 'old dominion university research foundation': 'old dominion university',
 'state of oregon by and through the state board of higher education on behalf of porland state university': 'university of oregon',
 'the state of oregon acting by and through the state board of higher education, oregon state university': 'university of oregon',
 'the state of oregon, acting by & through the state board of higher education, orgeon state university': 'university of oregon',
 'oregon state university office of technology transfer': 'university of oregon',
 'oregeon state university': 'oregon state university',
 'west chester university of pennsylvania of the state system of higher education': 'west chester university of pennsylvania',
 'the penn state research foundation intellectual property offie, the pennsylvania state university': 'pennsylvania state university',
 'purdue university': 'indiana university – purdue university indianapolis',
 'purdue research foundation regents of the university of california': 'purdue university',
 'rensselaer polytechnic institute': 'rensselaer polytechnic institute',
 'renesselaer polytechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polytechic institute': 'rensselaer polytechnic institute',
 'rennsselaer polytechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polyechnic institute': 'rensselaer polytechnic institute',
 'rensselaer polytechnic institue': 'rensselaer polytechnic institute',
 'renssealer polytechnic institute': 'rensselaer polytechnic institute',
 'rennselaer polytechnic institute': 'rensselaer polytechnic institute',
 'william marsh rice university': 'rice university',
 'rice university': 'rice university',
 'wm. marsh rice university': 'rice university',
 'william march rice university': 'rice university',
 'willam marsh rice university': 'rice university',
 'william marsch rice university': 'rice university',
 'rutgers university': 'rutgers university–newark',
 'the board of trustees of the leland stanford junior university': 'stanford university',
 'the board of regents of the leland stanford junior university': 'stanford university',
 'the board of trustees of the lelland stanford junior university': 'stanford university',
 'the board of trustee of the leland stanford juinior university': 'stanford university',
 'the board of trustees of the laland stanford junior university': 'stanford university',
 'the board of directors of the leland stanford, jr. university': 'stanford university',
 'the board of trustees of the lenand stanford junior university': 'stanford university',
 'the board of trustees of the lenard stanford junior university': 'stanford university',
 'the board of trustess of the leland stanford junior university': 'stanford university',
 'the board of trustees of the lealand stanford junior university': 'stanford university',
 'state university of new york stony brook': 'stony brook university',
 'stony brook university': 'stony brook university',
 'syracuse university': 'syracuse university',
 'syracuse university technology transfer and industrial development office': 'syracuse university',
 'temple university-of the commonwealth system of higher education': 'temple university',
 'temple university—of the commonwealth system of higher education': 'temple university',
 'temple university': 'temple university',
 'temple university school of medicine': 'temple university',
 'temple university—of the commonwelth system of higher education': 'temple university',
 'temple university -of the common-': 'temple university',
 'temple university office of technology transfer': 'temple university',
 'temple university of the commomwealth system of higher eduacation': 'temple university',
 'temple university of the commonwealth of higher education office of technology transfer': 'temple university',
 'the texas a&m university system office of technology commercialization': 'texas a&m university',
 'the texas a&m university': 'texas a&m university',
 'the texas a&m university system 3369 tamu': 'texas a&m university',
 'the texas a&m university system': 'texas a&m university',
 'the texas a&m university system agency state of texas': 'texas state university',
 'texas tech university system': 'texas tech university',
 'texas tech university system office of technology transfer and intellectual property': 'texas tech university',
 'tufts university': 'tufts university',
 'tulane university health sciences center': 'tulane university',
 'tulane university': 'tulane university',
 'the research foundation for the state university of new york stor - university at buffalo': 'university at buffalo',
 'board of trustees of the university of alabama, for and on behalf of the university of alabama in': 'university of alabama',
 'the university of alabama at birmingham research foundation': 'university of alabama at birmingham',
 'uab research foundation, university of alabama—birmingham': 'university of alabama at birmingham',
 'board of trustees of the university of alabama, for and on behalf of the university of alabama in huntsville': 'university of alabama in huntsville',
 'the board of trustees of the university of alabama': 'university of alabama',
 'the board of trustees of the university of alabama, for and on behalf of the university of alabamaiin huntsville': 'university of alabama in huntsville',
 'the board of trustees of the university of alabama for and on behalf of its component institution, the university of alabama': 'university of alabama',
 'university of south alabama': 'university of south alabama',
 'board of trustees of the university of alabama, ...': 'university of alabama',
 'arizona board of regents acting for and on behalf of northern arizona university': 'northern arizona university',
 'the arizona boad of regents on behfl of the university of arizona': 'university of arizona',
 'university of arizona office of technology transfer': 'university of arizona',
 'the arizona board of regents, the university of arizone': 'university of arizona',
 'the university of arizona, tech transfer arizona': 'university of arizona',
 'the board of trustees of the university of arkansas': 'university of arkansas',
 'university of arkansas technology development foundation': 'university of arkansas',

In [166]:
# patents_univ_mapped = patents.assignee.replace(dict)

### Merge this again with location -- next step IN PROGRESS

# The Final Merges! Universities, Ed Attainment, Patents

## Load in Ed Attainment and Patents

In [129]:
patents

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,ipc_P,ipc_Q,ipc_R,ipc_S,ipc_T,ipc_U,ipc_V,ipc_X,ipc_Y,ipc_Z
0,7472428,"NIKE, INC.",2009.0,2004,10814594,41067,A,2,2,2.0,...,0,0,0,0,0,0,0,0,0,0
1,7472496,"NIKE, INC.",2009.0,2005,11055158,41067,A,2,2,1.0,...,0,0,0,0,0,0,0,0,0,0
2,7472634,"SD3, LLC",2009.0,2004,10923290,41067,B,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
3,7474419,FEI COMPANY,2009.0,2006,11590583,41067,G,6,6,5.0,...,0,0,0,0,0,0,0,0,0,0
4,7474972,"TEKTRONIX, INC.",2009.0,2007,11690797,41067,G,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256090,NaN,King City Nursery LLC,NaN,2019,16424866,6053,NaN,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256091,NaN,JA SOLAR USA INC.,NaN,2019,16424879,6085,NaN,2,2,2.0,...,0,0,0,0,0,0,0,0,0,0
2256092,NaN,"SentriLock, LLC",NaN,2019,16424880,39061,NaN,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256093,NaN,"S.P.M. Flow Control, Inc.",NaN,2019,16424786,48439,NaN,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256094,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0

### One Hot Encode ipc_section to aggregate

In [84]:
# patents.ipc_section.unique()

array(['A', 'B', 'G', 'H', 'G H', 'B H', 'F', 'A G', 'D', 'A B C', 'C H',
       'C', 'A B E', 'A B', nan, 'B F', 'B G H', 'F G', 'A E', 'B G',
       'A G H', 'A F', 'A D', 'F H', 'A H', 'E', 'B C', 'A C', 'A F H',
       'E F', 'A F G', 'A B D', 'B E', 'B D', 'B F G', 'B D G', 'F G H',
       'D H', 'C G', 'A B F', 'A B C H', 'B E F', 'B F G H', 'E G',
       'B C D', 'B C G', 'B C H', 'A B G', 'C F G', 'C G H', 'B F H',
       'C F', 'D G', 'B C F G', 'E H', 'A B H', 'A C H', 'B E F G H',
       'A D G', 'A B C D', 'B C G H', 'A C D', 'A F G H', 'A B G H',
       'A B D G H', 'A B C F G H', 'A C G', 'C Q', 'B C F G H', 'A B E H',
       'B E G', 'B C F', 'A E G', 'E F G', 'A C D F', 'A B C G',
       'A B D E', 'C D', 'B C E F', 'A B F G H', 'D G H', 'A E F H',
       'B D F H', 'C F G H', 'B C E', 'E G H', 'E F H', 'A B C G H',
       'A B E F', 'A C D G', 'C E', 'A C G H', 'A E H', 'B E F G',
       'A B C F', 'B E G H', 'C D F', 'C E G', 'B C F H', 'A E F',
       'B E F H', 'A B E G', 'C D E', 'B E H', 'A C E G', 'A B F G',
       'A E F G', 'B D E', 'E F G H', 'D F', 'A C F', 'B C E H',
       'B C D F', 'D E H', 'A B C D E', 'C D E F', 'A B D H', 'B D E G',
       'C E H', 'B C D E', 'D F H', 'B D F', 'D E', 'B C D G H', 'D E G',
       'C F H', 'A B C F H', 'B D E F G', 'A D E F', 'B D F G', 'B C D H',
       'A B D G', 'B D H', 'A C E', 'D F G', 'A D F H', 'A D F G',
       'A D G H', 'D F G H', 'B C D G', 'B D E F', 'D E F', 'A C F H',
       'C E F', 'C D G', 'A B F H', 'B C E F H', 'R', 'G Q', 'B C E G',
       'A E G H', 'A B C E', 'A E F G H', 'C E G H', 'A B E F G H', 'K',
       'A C F G', 'C E F G H', 'C D H', 'A B C D G', 'h', 'J', 'H N', 'N',
       'A B C F G', 'B D G H', 'B C E G H', 'A D H', 'C D E G', 'C E F H',
       'C E F G', 'A B C D F', 'A D E G', 'B C D F G', 'A B E F G',
       'A B D F', 'A D E', 'A D F', 'A B E G H', 'Q', 'A C D E',
       'B C D E F G', 'A B C D F G', 'A B C D G H', 'A B E F H',
       'A B C D H', 'A D F G H', 'A D E F H', 'C R', 'A B C E G',
       'C D G H', 'B D E H', 'B C D E G H', 'A B C D E F G H', 'V',
       'B C D F H', 'B C D E G', 'B C E F G', 'A B C E F', 'A C E F',
       'A C F G H', 'C D F H', 'C Y', 'A D E H', 'O', 'A B C E F G H',
       'A B D E F', 'B C D F G H', 'A B C E F G', 'B D F G H', 'M',
       'A C E F H', 'B F S'], dtype=object)

In [ ]:
##way too many combos to one hot! will do it by letter

In [147]:
patents.ipc_section.fillna('None_Listed', inplace = True)
patents['no_section'] = [1 if a == 'None_Listed' else 0 for a in patents['ipc_section']]
patents

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted,no_section
0,7472428,"NIKE, INC.",2009.0,2004,10814594,41067,A,2,2,2.0,0.0,1,0
1,7472496,"NIKE, INC.",2009.0,2005,11055158,41067,A,2,2,1.0,1.0,1,0
2,7472634,"SD3, LLC",2009.0,2004,10923290,41067,B,3,3,3.0,0.0,1,0
3,7474419,FEI COMPANY,2009.0,2006,11590583,41067,G,6,6,5.0,1.0,1,0
4,7474972,"TEKTRONIX, INC.",2009.0,2007,11690797,41067,G,3,3,3.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256090,NaN,King City Nursery LLC,NaN,2019,16424866,6053,None_Listed,1,1,1.0,0.0,0,1
2256091,NaN,JA SOLAR USA INC.,NaN,2019,16424879,6085,None_Listed,2,2,2.0,0.0,0,1
2256092,NaN,"SentriLock, LLC",NaN,2019,16424880,39061,None_Listed,1,1,1.0,0.0,0,1
2256093,NaN,"S.P.M. Flow Control, Inc.",NaN,2019,16424786,48439,None_Listed,1,1,1.0,0.0,0,1
2256094,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,None_Listed,1,1,1.0,0.0,0,1

In [148]:
list = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
for x in list:
    ipc = 'ipc_' + x
    patents[ipc] = [1 if x in str(a) else 0 for a in patents['ipc_section']]
patents

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,ipc_Q,ipc_R,ipc_S,ipc_T,ipc_U,ipc_V,ipc_W,ipc_X,ipc_Y,ipc_Z
0,7472428,"NIKE, INC.",2009.0,2004,10814594,41067,A,2,2,2.0,...,0,0,0,0,0,0,0,0,0,0
1,7472496,"NIKE, INC.",2009.0,2005,11055158,41067,A,2,2,1.0,...,0,0,0,0,0,0,0,0,0,0
2,7472634,"SD3, LLC",2009.0,2004,10923290,41067,B,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
3,7474419,FEI COMPANY,2009.0,2006,11590583,41067,G,6,6,5.0,...,0,0,0,0,0,0,0,0,0,0
4,7474972,"TEKTRONIX, INC.",2009.0,2007,11690797,41067,G,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256090,NaN,King City Nursery LLC,NaN,2019,16424866,6053,None_Listed,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256091,NaN,JA SOLAR USA INC.,NaN,2019,16424879,6085,None_Listed,2,2,2.0,...,0,0,0,0,0,0,0,0,0,0
2256092,NaN,"SentriLock, LLC",NaN,2019,16424880,39061,None_Listed,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256093,NaN,"S.P.M. Flow Control, Inc.",NaN,2019,16424786,48439,None_Listed,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0
2256094,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,None_Listed,1,1,1.0,...,0,0,0,0,0,0,0,0,0,0

In [159]:
patents['ipc_Z'].value_counts()
patents['ipc_Y'].value_counts()
patents['ipc_X'].value_counts()
patents['ipc_W'].value_counts()
patents['ipc_V'].value_counts()
patents['ipc_U'].value_counts()
patents['ipc_T'].value_counts()
patents['ipc_S'].value_counts()
patents['ipc_R'].value_counts()
patents['ipc_Q'].value_counts()
patents['ipc_P'].value_counts()
patents = patents.drop(columns = ['ipc_Z','ipc_X','ipc_W','ipc_U','ipc_T'])

In [160]:
patents

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,...,ipc_L,ipc_M,ipc_N,ipc_O,ipc_P,ipc_Q,ipc_R,ipc_S,ipc_V,ipc_Y
0,7472428,"NIKE, INC.",2009.0,2004,10814594,41067,A,2,2,2.0,...,0,0,0,0,0,0,0,0,0,0
1,7472496,"NIKE, INC.",2009.0,2005,11055158,41067,A,2,2,1.0,...,0,0,0,0,0,0,0,0,0,0
2,7472634,"SD3, LLC",2009.0,2004,10923290,41067,B,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
3,7474419,FEI COMPANY,2009.0,2006,11590583,41067,G,6,6,5.0,...,0,0,0,0,0,0,0,0,0,0
4,7474972,"TEKTRONIX, INC.",2009.0,2007,11690797,41067,G,3,3,3.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256090,NaN,King City Nursery LLC,NaN,2019,16424866,6053,None_Listed,1,1,1.0,...,1,0,1,0,0,0,0,0,0,0
2256091,NaN,JA SOLAR USA INC.,NaN,2019,16424879,6085,None_Listed,2,2,2.0,...,1,0,1,0,0,0,0,0,0,0
2256092,NaN,"SentriLock, LLC",NaN,2019,16424880,39061,None_Listed,1,1,1.0,...,1,0,1,0,0,0,0,0,0,0
2256093,NaN,"S.P.M. Flow Control, Inc.",NaN,2019,16424786,48439,None_Listed,1,1,1.0,...,1,0,1,0,0,0,0,0,0,0
2256094,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,None_Listed,1,1,1.0,...,1,0,1,0,0,0,0,0,0,0

### Aggregate Patents by GEOID and App Year

In [168]:
### FORGOT TO ADD # OF PATENT APPLICATIONS!!

patents_geoid_year = patents.groupby(['GEOID','application_year']).agg({'team_size':'mean',
                                                   'inventors':'mean',
                                                   'men_inventors':'mean',
                                                   'women_inventors':'mean',
                                                   'already_granted':'mean',
                                                  'ipc_A':'mean',
                                                  'ipc_B':'mean',
                                                  'ipc_C':'mean',
                                                  'ipc_D':'mean',
                                                  'ipc_E':'mean',
                                                  'ipc_F':'mean',
                                                  'ipc_G':'mean',
                                                  'ipc_H':'mean',
                                                  'ipc_I':'mean',
                                                  'ipc_J':'mean',
                                                  'ipc_K':'mean',
                                                  'ipc_L':'mean',
                                                  'ipc_M':'mean',
                                                  'ipc_N':'mean',
                                                  'ipc_O':'mean',
                                                  'ipc_P':'mean',
                                                  'ipc_Q':'mean',
                                                  'ipc_R':'mean',
                                                  'ipc_S':'mean',
                                                  'ipc_V':'mean',
                                                  'ipc_Y':'mean',}).reset_index()

In [169]:
patents_geoid_year

,GEOID,application_year,team_size,inventors,men_inventors,women_inventors,already_granted,ipc_A,ipc_B,ipc_C,...,ipc_L,ipc_M,ipc_N,ipc_O,ipc_P,ipc_Q,ipc_R,ipc_S,ipc_V,ipc_Y
0,1003,2005,1.000000,1.000000,1.000000,0.000000,1.000000,0.500000,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1003,2006,1.000000,1.000000,0.500000,0.500000,1.000000,0.500000,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1003,2008,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1003,2009,1.000000,1.000000,1.000000,0.000000,0.500000,0.500000,0.0,0.0,...,0.500000,0.0,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1003,2010,1.636364,1.636364,1.636364,0.000000,0.545455,0.454545,0.0,0.0,...,0.454545,0.0,0.454545,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22105,78030,2014,1.800000,1.800000,1.600000,0.200000,0.600000,0.200000,0.0,0.0,...,0.600000,0.0,0.600000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22106,78030,2015,1.666667,1.666667,1.333333,0.333333,0.666667,0.000000,0.0,0.0,...,0.666667,0.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22107,78030,2016,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.0,0.0,...,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22108,78030,2017,1.333333,1.333333,1.333333,0.000000,1.000000,0.333333,0.0,0.0,...,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22109,78030,2019,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,...,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Ed Attainment

In [165]:
ed_box_id = '992854565190'
ed_file = box.file(ed_box_id).get()
ed_file
ed_content = box.file(ed_box_id).content()
ed_attainment = pd.read_csv(BytesIO(ed_content))

In [166]:
ed_attainment

,Unnamed: 0,GEO_ID_CLEAN,GEO_ID,NAME,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
0,1,1001,0500000US01001,"Autauga County, Alabama",2010,5.1,9.4,34.4,22.6,5.0,15.3,8.2
1,2,1003,0500000US01003,"Baldwin County, Alabama",2010,4.3,9.5,29.4,22.3,5.9,19.8,8.9
2,3,1005,0500000US01005,"Barbour County, Alabama",2010,8.5,21.0,36.1,16.6,5.2,6.9,5.7
3,4,1007,0500000US01007,"Bibb County, Alabama",2010,10.4,16.6,43.7,13.4,5.6,8.4,1.8
4,5,1009,0500000US01009,"Blount County, Alabama",2010,9.9,16.0,37.1,19.5,4.6,9.0,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...
106366,106399,72145,0500000US72145,"Vega Baja Municipio, Puerto Rico",2020,16.2,10.3,28.5,12.0,11.4,15.6,6.1
106367,106400,72147,0500000US72147,"Vieques Municipio, Puerto Rico",2020,19.8,9.5,45.4,2.8,9.4,7.2,5.8
106368,106401,72149,0500000US72149,"Villalba Municipio, Puerto Rico",2020,16.0,5.5,37.4,11.2,10.1,16.0,3.7
106369,106402,72151,0500000US72151,"Yabucoa Municipio, Puerto Rico",2020,17.1,11.0,25.9,16.4,12.0,15.0,2.6
106370,106403,72153,0500000US72153,"Yauco Municipio, Puerto Rico",2020,16.6,7.6,34.7,8.3,8.4,18.9,5.4

In [212]:
ed_attainment[ed_attainment.GEO_ID_CLEAN.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, GEO_ID_CLEAN, GEO_ID, NAME, year, Perc_Over25_LessNinthGrade, Perc_Over25_SomeHighSchool, Perc_Over25_HighSchoolGrad, Perc_Over25_SomeCollege, Perc_Over25_Assosciates, Perc_Over25_Bachelors, Perc_Over25_Graduate]
Index: []

#### Need to group GEO_IDs

In [217]:
ed_attainment_agg = ed_attainment.groupby(['GEO_ID_CLEAN', 'year']).mean().reset_index().drop(columns = 'Unnamed: 0')

In [218]:
ed_attainment_agg

,GEO_ID_CLEAN,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate
0,1001,2010,5.1,9.4,34.4,22.6,5.0,15.3,8.2
1,1001,2011,4.9,9.0,33.6,22.9,6.0,15.9,7.7
2,1001,2012,5.8,9.2,32.0,23.1,5.4,16.3,8.2
3,1001,2013,5.7,9.5,32.4,24.1,5.7,14.8,7.8
4,1001,2014,4.8,9.6,32.0,22.8,6.9,14.6,9.4
...,...,...,...,...,...,...,...,...,...
35452,72153,2019,19.0,7.6,33.3,8.1,7.4,19.0,5.7
35453,72153,2020,16.6,7.6,34.7,8.3,8.4,18.9,5.4
35454,78010,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35455,78020,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35456,78030,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merge University GeoID info to Patents

In [202]:
geoids_universities.loc[geoids_universities.level_r1 > 4]

       level_r1  level_r2  level_r3
GEOID
25017         5         1         0

In [203]:
merged_patents_uni = pd.merge(patents_geoid_year, geoids_universities, on = 'GEOID', how='left', 
                       indicator='matched', validate='many_to_one')
merged_patents_uni

,GEOID,application_year,team_size,inventors,men_inventors,women_inventors,already_granted,ipc_A,ipc_B,ipc_C,...,ipc_P,ipc_Q,ipc_R,ipc_S,ipc_V,ipc_Y,level_r1,level_r2,level_r3,matched
0,1003,2005,1.000000,1.000000,1.000000,0.000000,1.000000,0.500000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
1,1003,2006,1.000000,1.000000,0.500000,0.500000,1.000000,0.500000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
2,1003,2008,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
3,1003,2009,1.000000,1.000000,1.000000,0.000000,0.500000,0.500000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
4,1003,2010,1.636364,1.636364,1.636364,0.000000,0.545455,0.454545,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22105,78030,2014,1.800000,1.800000,1.600000,0.200000,0.600000,0.200000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
22106,78030,2015,1.666667,1.666667,1.333333,0.333333,0.666667,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
22107,78030,2016,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
22108,78030,2017,1.333333,1.333333,1.333333,0.000000,1.000000,0.333333,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only
22109,78030,2019,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,left_only

In [204]:
merged_patents_uni.matched.value_counts()

left_only     18014
both           4096
right_only        0
Name: matched, dtype: int64

In [205]:
merged_patents_uni.level_r1.value_counts()

1.0    2221
0.0    1547
2.0     168
3.0     126
5.0      34
Name: level_r1, dtype: int64

### Merge Ed Attainment info to Patents_Univ

In [220]:
merged_patents_uni_ed = pd.merge(merged_patents_uni.drop(columns ='matched'), ed_attainment_agg, left_on = ['GEOID','application_year'], right_on = ['GEO_ID_CLEAN','year'], how='left', 
                       indicator='matched', validate='one_to_one')
merged_patents_uni_ed

,GEOID,application_year,team_size,inventors,men_inventors,women_inventors,already_granted,ipc_A,ipc_B,ipc_C,...,GEO_ID_CLEAN,year,Perc_Over25_LessNinthGrade,Perc_Over25_SomeHighSchool,Perc_Over25_HighSchoolGrad,Perc_Over25_SomeCollege,Perc_Over25_Assosciates,Perc_Over25_Bachelors,Perc_Over25_Graduate,matched
0,1003,2005,1.000000,1.000000,1.000000,0.000000,1.000000,0.500000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1003,2006,1.000000,1.000000,0.500000,0.500000,1.000000,0.500000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1003,2008,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,1003,2009,1.000000,1.000000,1.000000,0.000000,0.500000,0.500000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1003,2010,1.636364,1.636364,1.636364,0.000000,0.545455,0.454545,0.0,0.0,...,1003.0,2010.0,4.3,9.5,29.4,22.3,5.9,19.8,8.9,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22105,78030,2014,1.800000,1.800000,1.600000,0.200000,0.600000,0.200000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22106,78030,2015,1.666667,1.666667,1.333333,0.333333,0.666667,0.000000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22107,78030,2016,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22108,78030,2017,1.333333,1.333333,1.333333,0.000000,1.000000,0.333333,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22109,78030,2019,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [221]:
merged_patents_uni_ed.matched.value_counts()

both          13819
left_only      8291
right_only        0
Name: matched, dtype: int64