## Preparing grant and pregant for concatenation

In [1]:
import pandas as pd
import numpy as np

In [2]:
granted = pd.read_csv("granted_patents.csv", dtype = {'GEOID' : 'str'}, low_memory = False) #, index_col=[0])
granted

,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county,ipc_section,team_size,inventors,men_inventors,women_inventors,GEOID
0,7472428,"NIKE, INC.",2009,2004,10814594,US,BEAVERTON,OR,WASHINGTON,A,2,2,2,0,41067
1,7472496,"NIKE, INC.",2009,2005,11055158,US,BEAVERTON,OR,WASHINGTON,A,2,2,1,1,41067
2,7472634,"SD3, LLC",2009,2004,10923290,US,TUALATIN,OR,WASHINGTON,B,3,3,3,0,41067
3,7474419,FEI COMPANY,2009,2006,11590583,US,HILLSBORO,OR,WASHINGTON,G,6,6,5,1,41067
4,7474972,"TEKTRONIX, INC.",2009,2007,11690797,US,BEAVERTON,OR,WASHINGTON,G,3,3,3,0,41067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528998,D865380,"NOBLE HOUSE HOME FURNISHING, LLC",2019,2017,29621633,US,CHATS WORTH,CA,NaN,NaN,2,2,2,0,06037
1528999,D867125,"INNO-PAK, LLC",2019,2017,29604217,US,DELWARE,OH,NaN,NaN,2,2,2,0,39041
1529000,D869289,"INNO-PAK, LLC",2019,2018,29666033,US,DELWARE,OH,NaN,NaN,2,2,2,0,39041
1529001,D867753,"GIFFIN, INC.",2019,2018,29659105,US,LUMMI ISLAND,WA,NaN,NaN,1,1,1,0,53073
1529002,D868891,"LITTLE FALLS, INC.",2019,2018,29637003,US,PARKTON,MD,NaN,NaN,2,2,2,0,24005

In [3]:
granted['already_granted']= 1
granted

,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county,ipc_section,team_size,inventors,men_inventors,women_inventors,GEOID,already_granted
0,7472428,"NIKE, INC.",2009,2004,10814594,US,BEAVERTON,OR,WASHINGTON,A,2,2,2,0,41067,1
1,7472496,"NIKE, INC.",2009,2005,11055158,US,BEAVERTON,OR,WASHINGTON,A,2,2,1,1,41067,1
2,7472634,"SD3, LLC",2009,2004,10923290,US,TUALATIN,OR,WASHINGTON,B,3,3,3,0,41067,1
3,7474419,FEI COMPANY,2009,2006,11590583,US,HILLSBORO,OR,WASHINGTON,G,6,6,5,1,41067,1
4,7474972,"TEKTRONIX, INC.",2009,2007,11690797,US,BEAVERTON,OR,WASHINGTON,G,3,3,3,0,41067,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528998,D865380,"NOBLE HOUSE HOME FURNISHING, LLC",2019,2017,29621633,US,CHATS WORTH,CA,NaN,NaN,2,2,2,0,06037,1
1528999,D867125,"INNO-PAK, LLC",2019,2017,29604217,US,DELWARE,OH,NaN,NaN,2,2,2,0,39041,1
1529000,D869289,"INNO-PAK, LLC",2019,2018,29666033,US,DELWARE,OH,NaN,NaN,2,2,2,0,39041,1
1529001,D867753,"GIFFIN, INC.",2019,2018,29659105,US,LUMMI ISLAND,WA,NaN,NaN,1,1,1,0,53073,1
1529002,D868891,"LITTLE FALLS, INC.",2019,2018,29637003,US,PARKTON,MD,NaN,NaN,2,2,2,0,24005,1

In [4]:
pre_grant = pd.read_csv("pre_grant_stats.csv", index_col=[0], dtype = {'GEOID': 'str'}, low_memory = False)
pre_grant

,application_number_x,GEOID,organization,type_x,year_x,team_size,male_inventors,female_inventors,inventors
0,8479995,36061,"Enzo Biochem, Inc.",utility,1995,6,5.0,1,6.0
6,9136483,06085,NanoGram Corporation,utility,1998,4,2.0,1,3.0
10,9301989,08013,Condensate Energy LLC,utility,1999,1,1.0,0,1.0
11,9328626,42029,"Vanguard Products Group, Inc.",utility,1999,3,2.0,1,3.0
14,9474435,29510,Monsanto Technology LLC,utility,1999,8,7.0,0,7.0
...,...,...,...,...,...,...,...,...,...
3113902,17477135,25017,PRESIDENT AND FELLOWS OF HARVARD COLLEGE,utility,2021,2,1.0,1,2.0
3113904,17477135,25017,"The Broad Institute, Inc.",utility,2021,2,1.0,1,2.0
3113906,17477725,22071,"AUTOIMMUNE TECHNOLOGIES, LLC",utility,2021,5,5.0,0,5.0
3113911,17477725,22071,THE ADMINISTRATORS OF THE TULANE EDUCATIONAL FUND,utility,2021,5,5.0,0,5.0
3113916,17478015,29510,Monsanto Technology LLC,utility,2021,2,2.0,0,2.0

In [5]:
pre_grant['already_granted']= 0
pre_grant

,application_number_x,GEOID,organization,type_x,year_x,team_size,male_inventors,female_inventors,inventors,already_granted
0,8479995,36061,"Enzo Biochem, Inc.",utility,1995,6,5.0,1,6.0,0
6,9136483,06085,NanoGram Corporation,utility,1998,4,2.0,1,3.0,0
10,9301989,08013,Condensate Energy LLC,utility,1999,1,1.0,0,1.0,0
11,9328626,42029,"Vanguard Products Group, Inc.",utility,1999,3,2.0,1,3.0,0
14,9474435,29510,Monsanto Technology LLC,utility,1999,8,7.0,0,7.0,0
...,...,...,...,...,...,...,...,...,...,...
3113902,17477135,25017,PRESIDENT AND FELLOWS OF HARVARD COLLEGE,utility,2021,2,1.0,1,2.0,0
3113904,17477135,25017,"The Broad Institute, Inc.",utility,2021,2,1.0,1,2.0,0
3113906,17477725,22071,"AUTOIMMUNE TECHNOLOGIES, LLC",utility,2021,5,5.0,0,5.0,0
3113911,17477725,22071,THE ADMINISTRATORS OF THE TULANE EDUCATIONAL FUND,utility,2021,5,5.0,0,5.0,0
3113916,17478015,29510,Monsanto Technology LLC,utility,2021,2,2.0,0,2.0,0

In [6]:
granted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1529003 entries, 0 to 1529002
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   patent_number       1529003 non-null  object
 1   assignee            1529003 non-null  object
 2   grant_year          1529003 non-null  int64
 3   application_year    1529003 non-null  int64
 4   application_number  1529003 non-null  int64
 5   country             1529003 non-null  object
 6   city                1529003 non-null  object
 7   state               1529003 non-null  object
 8   county              1432399 non-null  object
 9   ipc_section         1408199 non-null  object
 10  team_size           1529003 non-null  int64
 11  inventors           1529003 non-null  int64
 12  men_inventors       1529003 non-null  int64
 13  women_inventors     1529003 non-null  int64
 14  GEOID               1529003 non-null  object
 15  already_granted     1529003 non-null  int64
dtypes: int64(8), object(8)
memory usage: 186.6+ MB

In [7]:
granted.describe(include = "all")

,patent_number,assignee,grant_year,application_year,application_number,country,city,state,county,ipc_section,team_size,inventors,men_inventors,women_inventors,GEOID,already_granted
count,1529003,1529003,1.529003e+06,1.529003e+06,1.529003e+06,1529003,1529003,1529003,1432399,1408199,1.529003e+06,1.529003e+06,1.529003e+06,1.529003e+06,1529003,1529003.0
unique,1509633,102221,NaN,NaN,NaN,1,8356,55,1398,212,NaN,NaN,NaN,NaN,2380,NaN
top,9610165,INTERNATIONAL BUSINESS MACHINES CORPORATION,NaN,NaN,NaN,US,ARMONK,CA,SANTA CLARA,G,NaN,NaN,NaN,NaN,6085,NaN
freq,7,80388,NaN,NaN,NaN,1529003,80708,412712,201216,375304,NaN,NaN,NaN,NaN,201216,NaN
mean,NaN,NaN,2.014584e+03,2.011505e+03,1.471258e+07,NaN,NaN,NaN,NaN,NaN,2.940848e+00,2.753108e+00,2.453832e+00,2.992761e-01,NaN,1.0
std,NaN,NaN,3.064923e+00,3.859595e+00,4.538166e+06,NaN,NaN,NaN,NaN,NaN,2.045568e+00,1.965072e+00,1.788878e+00,6.472987e-01,NaN,0.0
min,NaN,NaN,2.009000e+03,1.969000e+03,4.590147e+06,NaN,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.0
25%,NaN,NaN,2.012000e+03,2.009000e+03,1.241343e+07,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,NaN,1.0
50%,NaN,NaN,2.015000e+03,2.012000e+03,1.368520e+07,NaN,NaN,NaN,NaN,NaN,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,NaN,1.0
75%,NaN,NaN,2.017000e+03,2.015000e+03,1.493357e+07,NaN,NaN,NaN,NaN,NaN,4.000000e+00,4.000000e+00,3.000000e+00,0.000000e+00,NaN,1.0
max,NaN,NaN,2.019000e+03,2.019000e+03,3.550537e+07,NaN,NaN,NaN,NaN,NaN,7.600000e+01,7.300000e+01,6.600000e+01,1.700000e+01,NaN,1.0

In [8]:
pre_grant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031737 entries, 0 to 3113916
Data columns (total 10 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   application_number_x  1031737 non-null  int64
 1   GEOID                 1031737 non-null  object
 2   organization          1023849 non-null  object
 3   type_x                1031737 non-null  object
 4   year_x                1031737 non-null  int64
 5   team_size             1031737 non-null  int64
 6   male_inventors        1031737 non-null  float64
 7   female_inventors      1031737 non-null  int64
 8   inventors             1031737 non-null  float64
 9   already_granted       1031737 non-null  int64
dtypes: float64(2), int64(5), object(3)
memory usage: 86.6+ MB

In [9]:
pre_grant.describe(include = "all")

,application_number_x,GEOID,organization,type_x,year_x,team_size,male_inventors,female_inventors,inventors,already_granted
count,1.031737e+06,1031737,1023849,1031737,1.031737e+06,1.031737e+06,1.031737e+06,1.031737e+06,1.031737e+06,1031737.0
unique,NaN,2199,86763,2,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,06085,INTERNATIONAL BUSINESS MACHINES CORPORATION,utility,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,103127,59299,1030698,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.363936e+07,NaN,NaN,NaN,2.011820e+03,3.018190e+00,2.550226e+00,3.293872e-01,2.879614e+00,0.0
std,1.628251e+06,NaN,NaN,NaN,4.222760e+00,2.069093e+00,1.799342e+00,6.703481e-01,1.999232e+00,0.0
min,8.479995e+06,NaN,NaN,NaN,1.995000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,1.242366e+07,NaN,NaN,NaN,2.009000e+03,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.0
50%,1.352486e+07,NaN,NaN,NaN,2.012000e+03,3.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.0
75%,1.454902e+07,NaN,NaN,NaN,2.014000e+03,4.000000e+00,3.000000e+00,0.000000e+00,4.000000e+00,0.0
max,1.747802e+07,NaN,NaN,NaN,2.021000e+03,6.100000e+01,5.400000e+01,2.300000e+01,6.100000e+01,0.0

In [49]:
#granted.query(" application_year >= 2009 & application_year <= 2019")

In [50]:
#granted.query(" application_year == grant_year")

In [7]:
# pre_granted data ranges from 1995-2021 as of now
#pre_grant.year_x.sort_values()

In [10]:
#filter for just the years we want 2009 - 2019 
pre_grant = pre_grant.query("year_x >=2009 & year_x <= 2019").sort_values(by = 'year_x')
pre_grant

,application_number_x,GEOID,organization,type_x,year_x,team_size,male_inventors,female_inventors,inventors,already_granted
247043,11457708,06081,"GENENTECH, INC.",utility,2009,8,4.0,3,7.0,0
847953,12573364,36119,INTERNATIONAL BUSINESS MACHINES CORPORATION,utility,2009,3,2.0,1,3.0,0
847956,12573366,09009,"ARTIFICIAL CELL TECHNOLOGIES, INC.",utility,2009,1,1.0,0,1.0,0
847957,12573371,24021,The United States of America as represented by...,utility,2009,2,2.0,0,2.0,0
847959,12573377,06059,Broadcom Corporation,utility,2009,2,1.0,1,2.0,0
...,...,...,...,...,...,...,...,...,...,...
2861327,16425130,48209,Jaber Technology Holdings US Inc,utility,2019,3,3.0,0,3.0,0
2861330,16425160,18097,"Roche Diagnostics Operations, Inc.",utility,2019,2,1.0,1,2.0,0
2861332,16425166,06081,"Theravance Biopharma R&D IP, LLC",utility,2019,2,2.0,0,2.0,0
2861269,16424945,06085,Intel Corporation,utility,2019,3,3.0,0,3.0,0
3111293,17421434,36059,"BIPAD, INC.",utility,2019,1,1.0,0,1.0,0

In [9]:
#pre_grant.type_x.unique()

In [11]:
#organization will be renames assignee -> despite not being granted 
pre_grant = pre_grant.rename({'organization':'assignee', 'application_number_x':'application_number',
                  'year_x': 'application_year', 'male_inventors': 'men_inventors',
                  'female_inventors': 'women_inventors'},
                 axis =1)
                  
                  
pre_grant

,application_number,GEOID,assignee,type_x,application_year,team_size,men_inventors,women_inventors,inventors,already_granted
247043,11457708,06081,"GENENTECH, INC.",utility,2009,8,4.0,3,7.0,0
847953,12573364,36119,INTERNATIONAL BUSINESS MACHINES CORPORATION,utility,2009,3,2.0,1,3.0,0
847956,12573366,09009,"ARTIFICIAL CELL TECHNOLOGIES, INC.",utility,2009,1,1.0,0,1.0,0
847957,12573371,24021,The United States of America as represented by...,utility,2009,2,2.0,0,2.0,0
847959,12573377,06059,Broadcom Corporation,utility,2009,2,1.0,1,2.0,0
...,...,...,...,...,...,...,...,...,...,...
2861327,16425130,48209,Jaber Technology Holdings US Inc,utility,2019,3,3.0,0,3.0,0
2861330,16425160,18097,"Roche Diagnostics Operations, Inc.",utility,2019,2,1.0,1,2.0,0
2861332,16425166,06081,"Theravance Biopharma R&D IP, LLC",utility,2019,2,2.0,0,2.0,0
2861269,16424945,06085,Intel Corporation,utility,2019,3,3.0,0,3.0,0
3111293,17421434,36059,"BIPAD, INC.",utility,2019,1,1.0,0,1.0,0

In [12]:
pre_grant.drop('type_x', axis = 1, inplace = True)
pre_grant

,application_number,GEOID,assignee,application_year,team_size,men_inventors,women_inventors,inventors,already_granted
247043,11457708,06081,"GENENTECH, INC.",2009,8,4.0,3,7.0,0
847953,12573364,36119,INTERNATIONAL BUSINESS MACHINES CORPORATION,2009,3,2.0,1,3.0,0
847956,12573366,09009,"ARTIFICIAL CELL TECHNOLOGIES, INC.",2009,1,1.0,0,1.0,0
847957,12573371,24021,The United States of America as represented by...,2009,2,2.0,0,2.0,0
847959,12573377,06059,Broadcom Corporation,2009,2,1.0,1,2.0,0
...,...,...,...,...,...,...,...,...,...
2861327,16425130,48209,Jaber Technology Holdings US Inc,2019,3,3.0,0,3.0,0
2861330,16425160,18097,"Roche Diagnostics Operations, Inc.",2019,2,1.0,1,2.0,0
2861332,16425166,06081,"Theravance Biopharma R&D IP, LLC",2019,2,2.0,0,2.0,0
2861269,16424945,06085,Intel Corporation,2019,3,3.0,0,3.0,0
3111293,17421434,36059,"BIPAD, INC.",2019,1,1.0,0,1.0,0

In [13]:
pre_grant.columns

Index(['application_number', 'GEOID', 'assignee', 'application_year',
       'team_size', 'men_inventors', 'women_inventors', 'already_granted'],
      dtype='object')

In [13]:
pre_grant = pre_grant.assign(patent_number = np.nan, grant_year = np.nan, inventors = pre_grant.team_size, ipc_section = np.nan)
pre_grant = pre_grant[['patent_number', 'assignee', 'grant_year', 'application_year',
       'application_number','GEOID', 'ipc_section', 'team_size', 'inventors', 'men_inventors',
       'women_inventors', 'already_granted']]

In [14]:
granted = granted[['patent_number', 'assignee', 'grant_year', 'application_year',
       'application_number', 'GEOID', 'ipc_section', 'team_size', 'inventors', 'men_inventors',
       'women_inventors', 'already_granted']]

In [15]:
pre_grant

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted
247043,NaN,"GENENTECH, INC.",NaN,2009,11457708,06081,NaN,8,8,4.0,3,0
847953,NaN,INTERNATIONAL BUSINESS MACHINES CORPORATION,NaN,2009,12573364,36119,NaN,3,3,2.0,1,0
847956,NaN,"ARTIFICIAL CELL TECHNOLOGIES, INC.",NaN,2009,12573366,09009,NaN,1,1,1.0,0,0
847957,NaN,The United States of America as represented by...,NaN,2009,12573371,24021,NaN,2,2,2.0,0,0
847959,NaN,Broadcom Corporation,NaN,2009,12573377,06059,NaN,2,2,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2861327,NaN,Jaber Technology Holdings US Inc,NaN,2019,16425130,48209,NaN,3,3,3.0,0,0
2861330,NaN,"Roche Diagnostics Operations, Inc.",NaN,2019,16425160,18097,NaN,2,2,1.0,1,0
2861332,NaN,"Theravance Biopharma R&D IP, LLC",NaN,2019,16425166,06081,NaN,2,2,2.0,0,0
2861269,NaN,Intel Corporation,NaN,2019,16424945,06085,NaN,3,3,3.0,0,0
3111293,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,0,0

In [18]:
#pre_grant.to_csv('pre_grant_updated.csv', index = False)

In [16]:
pre_grant

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted
247043,NaN,"GENENTECH, INC.",NaN,2009,11457708,06081,NaN,8,8,4.0,3,0
847953,NaN,INTERNATIONAL BUSINESS MACHINES CORPORATION,NaN,2009,12573364,36119,NaN,3,3,2.0,1,0
847956,NaN,"ARTIFICIAL CELL TECHNOLOGIES, INC.",NaN,2009,12573366,09009,NaN,1,1,1.0,0,0
847957,NaN,The United States of America as represented by...,NaN,2009,12573371,24021,NaN,2,2,2.0,0,0
847959,NaN,Broadcom Corporation,NaN,2009,12573377,06059,NaN,2,2,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2861327,NaN,Jaber Technology Holdings US Inc,NaN,2019,16425130,48209,NaN,3,3,3.0,0,0
2861330,NaN,"Roche Diagnostics Operations, Inc.",NaN,2019,16425160,18097,NaN,2,2,1.0,1,0
2861332,NaN,"Theravance Biopharma R&D IP, LLC",NaN,2019,16425166,06081,NaN,2,2,2.0,0,0
2861269,NaN,Intel Corporation,NaN,2019,16424945,06085,NaN,3,3,3.0,0,0
3111293,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,0,0

In [27]:
#crosswalk = pd.read_csv("crosswalk_county_name_to_county_fips.csv", index_col=[0])

In [20]:
#crosswalk = crosswalk.rename({'GEOID': 'geoID'}, axis = 1)
#crosswalk

# Concat grant and pregrant

In [17]:
all_patents = pd.concat([granted, pre_grant], ignore_index=True)
sum(all_patents.duplicated())

4

In [18]:
all_patents = all_patents[~all_patents.duplicated()]

In [19]:
all_patents

,patent_number,assignee,grant_year,application_year,application_number,GEOID,ipc_section,team_size,inventors,men_inventors,women_inventors,already_granted
0,7472428,"NIKE, INC.",2009.0,2004,10814594,41067,A,2,2,2.0,0,1
1,7472496,"NIKE, INC.",2009.0,2005,11055158,41067,A,2,2,1.0,1,1
2,7472634,"SD3, LLC",2009.0,2004,10923290,41067,B,3,3,3.0,0,1
3,7474419,FEI COMPANY,2009.0,2006,11590583,41067,G,6,6,5.0,1,1
4,7474972,"TEKTRONIX, INC.",2009.0,2007,11690797,41067,G,3,3,3.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2267744,NaN,Jaber Technology Holdings US Inc,NaN,2019,16425130,48209,NaN,3,3,3.0,0,0
2267745,NaN,"Roche Diagnostics Operations, Inc.",NaN,2019,16425160,18097,NaN,2,2,1.0,1,0
2267746,NaN,"Theravance Biopharma R&D IP, LLC",NaN,2019,16425166,06081,NaN,2,2,2.0,0,0
2267747,NaN,Intel Corporation,NaN,2019,16424945,06085,NaN,3,3,3.0,0,0
2267748,NaN,"BIPAD, INC.",NaN,2019,17421434,36059,NaN,1,1,1.0,0,0

In [20]:
#save it
all_patents.to_csv('all_patents_granted_and pregrant.csv', index = False)